<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>품목 정보 등록</title>
    <link rel="stylesheet" href="/css/item.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" href="/image/favicon-32x32.png">
    <script src="/js/jquery-3.7.1.min.js"></script>
    <style>
        .modal {
            display: none; /* 숨기기 */
            position: fixed; /* 위치 고정 */
            z-index: 1; /* 다른 요소들보다 위에 표시 */
            padding-top: 60px; /* 화면 위로부터의 패딩 */
            left: 0;
            top: 0;
            width: 100%; /* 전체 너비 */
            height: 100%; /* 전체 높이 */
            overflow: auto; /* 스크롤바 추가 */
            background-color: rgb(0, 0, 0); /* 배경 색상 */
            background-color: rgba(0, 0, 0, 0.4); /* 배경 색상 (투명도) */
        }

        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #fff;
            font-size: 40px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<th:block th:replace="~{/fragments/fragment1}"></th:block>
<th:block th:replace="~{/fragments/fragment3 :: subnav(currentPageName='조달 관리 > 품목 정보 등록')}"></th:block>

<div class="container">
    <th:block th:replace="~{/fragments/fragment2}"></th:block>
    <div class="content">
      <div class="item-registration">
          <div class="ten">
            <h2>품목 정보 등록</h2>
          </div>
          <form action="/item/register" method="post" enctype="multipart/form-data">
              <table>
                  <tr>
                      <th rowspan="4" class="product-code">품목 분류</th>
                      <td><label for="unit">대분류</label></td>
                      <td>
                          <select id="unit" name="unitCode" required>
                              <option value="">대분류 선택</option>
                              <option th:each="unit : ${units}" th:value="${unit.unitCode}" th:text="${unit.unitName}"></option>
                          </select>
                      </td>
                      <td></td>
                  </tr>
                  <tr>
                      <td><label for="assyCode">중분류</label></td>
                      <td>
                          <select id="assyCode" name="assyCode" required>
                              <option value="">중분류 선택</option>
                          </select>
                      </td>
                      <td></td>
                  </tr>
                <tr>
                    <td><label for="partCode">소분류</label></td>
                    <td>
                        <select id="partCode" name="partCode" required>
                            <option value="">소분류 선택</option>
                            <!-- 서버에서 받은 소분류 목록을 반복하여 옵션으로 추가 -->
                            <option th:each="part : ${parts}" th:value="${part.partCode}" th:text="${part.partName}"></option>
                        </select>

                    </td>
                    <td></td>
                </tr>
                <tr></tr>
                <tr>
                    <th><label for="itemName">품목명</label></th>
                    <td>품목명</td><td>
                    <input type="text" id="itemName" name="itemName" required>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="3" class="product-spec">규격(mm)</th>
                    <td><label for="width">가로</label></td>
                    <td><input type="number" id="width" name="width" required></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="length">세로</label></td>
                    <td><input type="number" id="length" name="length" required></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="height">높이</label></td>
                    <td><input type="number" id="height" name="height" required></td>
                    <td></td>
                </tr>
                <tr>
                    <th><label for="material">재질</label></th>
                    <td>재질</td>
                    <td><input type="text" id="material" name="material" required></td>
                </tr>
                  <tr>
                      <th><label for="blueprintOriginName">도면 파일</label></th>
                      <td colspan="3">
                          <div class="file-upload">
                              <input type="file" id="blueprintOriginName" name="blueprintOriginName" accept=".pdf,.jpg,.png" onchange="displayFileName()" required>
                              <label for="blueprintOriginName" class="button">
                                  <i class="fas fa-upload"></i> 파일 선택
                              </label>
                              <div id="fileName" class="file-name">선택된 파일이 없습니다.</div>
                          </div>
                      </td>
                  </tr>
            </table>
            <div class="register-button-container">
                <button type="submit">등록</button>
            </div>
        </form>
      </div>
        <br>
        <br>
      <div class="item-management">
          <div class="ten">
            <h2>품목 정보 관리</h2>
          </div>
          <div class="search-item">
              <form id="searchForm">
                  <select name="search-option" id="search-option">
                      <option value="itemCode">품목코드</option>
                      <option value="itemName">품목명</option>
                  </select>
                  <input type="text" id="searchInput" name="keyword" placeholder="검색어 입력" class="search-input">
                  <button type="button" class="search-button" onclick="searchItems()">검색</button>
              </form>
          </div>
      <!-- 검색 결과 표시 영역 -->
      <div id="searchResult">
        <table id="itemTable">
            <thead>
            <tr>
                <th>품목코드</th>
                <th>품목명</th>
                <th>규격(mm)</th>
                <th>재질</th>
                <th>도면</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${result.dtoList}">
                <td th:text="${item.itemCode}"></td>
                <td th:text="${item.itemName}"></td>
                <td th:text="${item.width} + 'x' + ${item.length} + 'x' + ${item.height}"></td>
                <td th:text="${item.material}"></td>
                <td>
                    <a href="#" class="item-link" th:text="${item.blueprintOriginName}" th:attr="data-blueprint-save-name=${item.blueprintSaveName}"></a>
                </td>
            </tr>
            <!-- 모델에 담겨있는 아이템 목록을 반복하여 테이블에 출력 -->
            <!-- 아이템 정보가 담긴 리스트는 모델에 itemList라는 이름으로 전달되었다고 가정합니다. -->
            <!-- 페이징 처리 안되었을 때 아이템 부분 -->
<!--            <tr th:each="item : ${items}">
                <td th:text="${item.itemCode}"></td>
                <td th:text="${item.itemName}"></td>
                <td th:text="${item.width} + 'x' + ${item.length} + 'x' + ${item.height}"></td>
                <td th:text="${item.material}"></td>
                <td th:text="${item.blueprintOriginName}"></td>
            </tr>-->
            </tbody>
        </table>
          <!-- 여기에 페이징 처리를 추가합니다 -->
          <div class="pagination">
              <ul>
                  <!-- 이전 페이지 링크 -->
                  <li th:if="${result.page > 1}">
                      <a th:href="@{'/item/register?page=' + ${result.page - 1}}" class="page-btn">Previous</a>
                  </li>
                  <!-- 페이지 번호 링크 -->
                  <li th:each="pageNum : ${#numbers.sequence(1, result.totalPage)}" th:class="${pageNum == result.page} ? 'active' : ''">
                      <a th:href="@{'/item/register?page=' + ${pageNum}}" class="page-btn">[[${pageNum}]]</a>
                  </li>
                  <!-- 다음 페이지 링크 -->
                  <li th:if="${result.page < result.totalPage}">
                      <a th:href="@{'/item/register?page=' + ${result.page + 1}}" class="page-btn">Next</a>
                  </li>
              </ul>
          </div>
      </div>

      </div>

    </div>
</div>
<!-- 모달 구조 추가 -->
<div id="imageModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modalImage">
</div>
<!--
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <img id="modalImage" src="" alt="Image">
    </div>
</div>
-->

<script>
    const units = [
        { code: 'CG', name: '충전부' },
        { code: 'CP', name: '압착부' },
        { code: 'CR', name: '관제부' },
        { code: 'CT', name: '절단부' },
        { code: 'CU', name: '제어부' },
        { code: 'IJ', name: '주입부' },
        { code: 'IP', name: '투입부' },
        { code: 'MS', name: '측정부' },
        { code: 'MT', name: '장착부' },
        { code: 'ST', name: '정렬부' },
        { code: 'TO', name: '취출부' },
        { code: 'WA', name: '용접부' }
    ];

    const assemblies = {
        'CG': [
            { code: 'A01', name: 'CableHeader접속부포함' },
            { code: 'A02', name: 'Heater' }
        ],
        'CP': [
            { code: 'A03', name: 'iNDEXUNiTDRiVE' },
            { code: 'A04', name: 'LASER' }
        ],
        'CR': [
            { code: 'A05', name: 'MOTOR' },
            { code: 'A06', name: 'POWERSUPPLY' }
        ],
        'CT': [
            { code: 'A07', name: 'PULLEY' },
            { code: 'A08', name: 'PUMP' }
        ],
        'CU': [
            { code: 'A09', name: 'PUSHER' },
            { code: 'A10', name: 'robot arm' }
        ],
        'IJ': [
            { code: 'A11', name: 'SERVOMOTOR' },
            { code: 'A12', name: 'TOUTCHSCREEN' }
        ],
        'IP': [
            { code: 'A13', name: 'VSCONTROLLER' },
            { code: 'A14', name: '감지기' }
        ],
        'MS': [
            { code: 'A15', name: '고정대' },
            { code: 'A16', name: '구동축' }
        ],
        'MT': [
            { code: 'A17', name: '실린더CYLINDER' },
            { code: 'A18', name: '여과장치' }
        ],
        'ST': [
            { code: 'A19', name: '이동 컨베이어' },
            { code: 'A20', name: '전자저울WEIGHIGINDICATOR' }
        ],
        'TO': [
            { code: 'A21', name: '제어판 이슈' },
            { code: 'A22', name: '커넥터' }
        ],
        'WA': [
            { code: 'A23', name: '컴퓨터COMPUTER' },
            { code: 'A24', name: '투영기' }
        ]
    };

    const parts = {
        'A01': [
            { code: '100', name: 'BEARiNG' },
            { code: '101', name: 'BELT' }
        ],
        'A02': [
            { code: '102', name: 'BOLTNUT' },
            { code: '103', name: 'BRACKET' }
        ],
        'A03': [
            { code: '200', name: 'CABLE' },
            { code: '201', name: 'CHAiN' }
        ],
        'A04': [
            { code: '202', name: 'CLUTCHBRAKE' },
            { code: '203', name: 'COUPLiNG' },
            { code: '204', name: 'CUTTER' }
        ],
        'A05': [
            { code: '300', name: 'FILTERHOUSING' }
        ],
        'A06': [
            { code: '301', name: 'FITTING류' }
        ],
        'A07': [
            { code: '302', name: 'FLASHLAMP' },
            { code: '303', name: 'FLOATiNGJOiNT' }
        ],
        'A08': [
            { code: '400', name: 'GEAR' }
        ],
        'A09': [
            { code: '401', name: 'GRIPPER' },
            { code: '402', name: 'GUIDE' }
        ],
        'A10': [
            { code: '435', name: 'HOSE' }
        ],
        'A11': [
            { code: '446', name: 'JIG' }
        ],
        'A12': [
            { code: '470', name: 'NOZZLE' }
        ],
        'A13': [
            { code: '500', name: 'PiN' },
            { code: '501', name: 'PLC' }
        ],
        'A14': [
            { code: '572', name: 'SENSOR' }
        ],
        'A15': [
            { code: '573', name: 'SERVOCONTROLLER' }
        ],
        'A16': [
            { code: '574', name: 'SHAFT' }
        ],
        'A17': [
            { code: '575', name: 'STOPPER' }
        ],
        'A18': [
            { code: '600', name: 'Transmission변감속기' }
        ],
        'A19': [
            { code: '601', name: 'TRAY' }
        ],
        'A20': [
            { code: '692', name: 'VACUUMPAD' }
        ],
        'A21': [
            { code: '700', name: '릴레이Relay' }
        ],
        'A22': [
            { code: '701', name: '솔레노이드밸브SolenoidValve' }
        ],
        'A23': [
            { code: '702', name: '엔코더Encoder' }
        ],
        'A24': [
            { code: '703', name: '진공밸브VacuumValve' },
            { code: '704', name: '퓨즈Fuse' }
        ]
    };

    document.addEventListener('DOMContentLoaded', function() {
        const unitSelect = document.getElementById('unit');
        const assySelect = document.getElementById('assyCode');
        const partSelect = document.getElementById('partCode');

        unitSelect.addEventListener('change', function() {
            const selectedUnitCode = this.value;
            const assembliesForUnit = assemblies[selectedUnitCode] || [];

            // 중분류 옵션 초기화
            assySelect.innerHTML = '<option value="">중분류 선택</option>';
            partSelect.innerHTML = '<option value="">소분류 선택</option>';

            // 중분류 옵션 추가
            assembliesForUnit.forEach(assembly => {
                const option = document.createElement('option');
                option.value = assembly.code;
                option.text = assembly.name;
                assySelect.add(option);
            });
        });

        assySelect.addEventListener('change', function() {
            const selectedAssyCode = this.value;
            const partsForAssembly = parts[selectedAssyCode] || [];

            // 소분류 옵션 초기화
            partSelect.innerHTML = '<option value="">소분류 선택</option>';

            // 소분류 옵션 추가
            partsForAssembly.forEach(part => {
                const option = document.createElement('option');
                option.value = part.code;
                option.text = part.name;
                partSelect.add(option);
            });
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var modal = document.getElementById("imageModal");
        var modalImage = document.getElementById("modalImage");
        var closeBtn = document.getElementsByClassName("close")[0];

        document.querySelectorAll('.item-link').forEach(function (link) {
            link.addEventListener('click', function () {
                var blueprintSaveName = this.getAttribute("data-blueprint-save-name");
                var imageUrl = "/item/file/" + blueprintSaveName;

                // 이미지 URL 설정
                modalImage.src = imageUrl;
                // 모달 표시
                modal.style.display = "block";
            });
        });

        closeBtn.addEventListener('click', function () {
            modal.style.display = "none";
        });

        window.addEventListener('click', function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        });
    });

    function displayFileName() {
        const input = document.getElementById('blueprintOriginName');
        const fileNameDiv = document.getElementById('fileName');
        if (input.files.length > 0) {
            fileNameDiv.textContent = input.files[0].name;
        } else {
            fileNameDiv.textContent = '선택된 파일이 없습니다.';
        }
    }
</script>
<script>
    function displayFileName() {
        const input = document.getElementById('blueprintOriginName');
        const fileNameDiv = document.getElementById('fileName');
        if (input.files.length > 0) {
            fileNameDiv.textContent = input.files[0].name;
        } else {
            fileNameDiv.textContent = '선택된 파일이 없습니다.';
        }
    }
</script>
<script src="item.js"></script>
<script src="index.js"></script>

</body>
</html>
