<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>품목 정보 등록</title>
    <link rel="stylesheet" href="/css/item.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" href="/image/favicon-32x32.png">
</head>
<body>
<th:block th:replace="~{/fragments/fragment1}"></th:block>
<th:block th:replace="~{/fragments/fragment3 :: subnav(currentPageName='조달 관리 > 품목 정보 등록')}"></th:block>

<div class="container">
    <th:block th:replace="~{/fragments/fragment2}"></th:block>
    <div class="content">
      <div class="item-registration">
        <h2>품목 정보 등록</h2>
        <form action="/item/register" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <th rowspan="4" class="product-code">품목 분류</th>
                    <td><label for="unit">대분류</label></td>
                    <td>

                        <select id="unit" name="unitCode" required>
                            <option value="">대분류 선택</option>
                            <!-- 대분류 항목을 서버에서 받아와서 선택 옵션에 추가 -->
                            <option th:each="unit : ${units}" th:value="${unit.unitCode}" th:text="${unit.unitName}"></option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="assyCode">중분류</label></td>
                    <td>
                        <select id="assyCode" name="assyCode" required>
                            <option value="">중분류 선택</option>
                            <!-- 서버에서 받은 중분류 목록을 반복하여 옵션으로 추가 -->
                            <!-- 수정된 부분: 동적 변경 기능을 비활성화하여, 서버에서 한 번에 받은 중분류 목록을 그대로 출력 -->
                            <option th:each="assy : ${assies}" th:value="${assy.assyCode}" th:text="${assy.assyName}"></option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="partCode">소분류</label></td>
                    <td>
                        <select id="partCode" name="partCode" required>
                            <option value="">소분류 선택</option>
                            <!-- 서버에서 받은 소분류 목록을 반복하여 옵션으로 추가 -->
                            <option th:each="part : ${parts}" th:value="${part.partCode}" th:text="${part.partName}"></option>
                        </select>

                    </td>
                    <td></td>
                </tr>
                <tr></tr>
                <tr>
                    <th><label for="itemName">품목명</label></th>
                    <td>품목명</td><td>
                    <input type="text" id="itemName" name="itemName" required>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="3" class="product-spec">규격(mm)</th>
                    <td><label for="width">가로</label></td>
                    <td><input type="number" id="width" name="width" required></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="length">세로</label></td>
                    <td><input type="number" id="length" name="length" required></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label for="height">높이</label></td>
                    <td><input type="number" id="height" name="height" required></td>
                    <td></td>
                </tr>
                <tr>
                    <th><label for="material">재질</label></th>
                    <td>재질</td>
                    <td><input type="text" id="material" name="material" required></td>
                </tr>
                <tr>
                    <th><label for="blueprintOriginName">도면 파일</label></th>
                    <td colspan="3">
                        <div class="file-upload">
                            <input type="file" id="blueprintOriginName" name="blueprintOriginName" accept=".pdf,.jpg,.png" onchange="displayFileName()" required>
                            <label for="blueprintOriginName" class="button">파일 선택</label>
                            <div id="fileName" class="file-name"></div>
                        </div>

                    </td>
                </tr>
            </table>
            <div class="register-button-container">
                <button type="submit">등록</button>
            </div>
        </form>
      </div>
        <br>
        <br>
      <div class="item-management">
        <h2>품목 정보 관리</h2>

          <div class="search-item">
              <form id="searchForm">
                  <select name="search-option" id="search-option">
                      <option value="itemCode">품목코드</option>
                      <option value="itemName">품목명</option>
                  </select>
                  <input type="text" id="searchInput" name="keyword" placeholder="검색어 입력" class="search-input">
                  <button type="button" class="search-button" onclick="searchItems()">검색</button>
              </form>
          </div>
      <!-- 검색 결과 표시 영역 -->
      <div id="searchResult">
        <table id="itemTable">
            <thead>
            <tr>
                <th>품목코드</th>
                <th>품목명</th>
                <th>규격(mm)</th>
                <th>재질</th>
                <th>도면</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${result.dtoList}">
                <td th:text="${item.itemCode}"></td>
                <td th:text="${item.itemName}"></td>
                <td th:text="${item.width} + 'x' + ${item.length} + 'x' + ${item.height}"></td>
                <td th:text="${item.material}"></td>
                <td th:text="${item.blueprintOriginName}"></td>
            </tr>
            <!-- 모델에 담겨있는 아이템 목록을 반복하여 테이블에 출력 -->
            <!-- 아이템 정보가 담긴 리스트는 모델에 itemList라는 이름으로 전달되었다고 가정합니다. -->
            <!-- 페이징 처리 안되었을 때 아이템 부분 -->
<!--            <tr th:each="item : ${items}">
                <td th:text="${item.itemCode}"></td>
                <td th:text="${item.itemName}"></td>
                <td th:text="${item.width} + 'x' + ${item.length} + 'x' + ${item.height}"></td>
                <td th:text="${item.material}"></td>
                <td th:text="${item.blueprintOriginName}"></td>
            </tr>-->
            </tbody>
        </table>
      </div>
          <!-- 페이지네이션 영역 -->
          <div class="pagination">
              <button id="prevButton" class="pagination-button" onclick="previousPage()">이전</button>
              <span id="currentPage" class="page">1</span>/<span id="totalPages" class="page">1</span> 페이지
              <button id="nextButton" class="pagination-button" onclick="nextPage()">다음</button>
          </div>
      </div>

    </div>
</div>
<script>
    function displayFileName() {
        var input = document.getElementById('blueprintOriginName');
        var fileName = input.files[0].name;
        document.getElementById('fileName').innerHTML = '선택한 파일: ' + fileName;
    }
</script>
<script src="item.js"></script>

</body>
</html>
