<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>재고산출</title>
  <link rel="stylesheet" href="css/inventory.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="icon" href="/image/favicon-32x32.png">
</head>
<body>
<th:block th:replace="~{/fragments/fragment1}"></th:block>
  <div class="container">
      <th:block th:replace="~{/fragments/fragment2}"></th:block>

      <div class="content">
      <section class="inventory-calculation">
        <h2>기간별 재고</h2>
          <div class="search-bar">
            <div class="date-search">
              <input type="date" id="date-start" placeholder="시작 날짜"> <span>&nbsp; - &nbsp;&nbsp;</span> 
              <input type="date" id="date-end" placeholder="종료 날짜">
              <button id="date-search-btn">검색</button>
            </div>
            <div class="keyword-search">
              <select id="keyword-search-type">
                <option value="itemCode" checked>품목코드</option>
                <option value="itemName">품목명</option>
                <option value="material">재질</option>
              </select>
              <input type="text" id="keyword-search" placeholder="키워드 검색">
              <button id="keyword-search-btn" onclick="searchInventory()">검색</button>
            </div>
          </div>
        <table>
          <thead>
            <tr>
              <th>품목코드</th>
              <th>품목명</th>
              <th>규격</th>
              <th>재질</th>
              <th>기초 재고</th>
              <th>입고수량</th>
              <th>출고수량</th>
              <th>기말 재고</th>
              <th>단가(원)</th>
              <th>재고 금액</th>
            </tr>
          </thead>
          <tbody id="inventory-calculation-list">
          <!-- 반복문을 통해 서버에서 받아온 데이터를 동적으로 표시 -->
            <tr th:each="item : ${inventoryItems}">
              <td th:text="${item.item.getItemCode()}"></td>
              <td th:text="${item.item.getItemName()}"></td>
              <td th:text="${item.item.getWidth() + 'x' + item.item.getLength() + 'x' + item.item.getHeight()}"></td>
              <td th:text="${item.item.getMaterial()}"></td>
              <td>0</td>
                <td>600</td>
                <td>500</td>
                <td>100</td>
                <td>300</td>
              <!-- 입고출고수량을 서버에서 받아온 값으로 대체 -->
              <!--<td th:text="${item.receive != null ? item.receive.receiveQuantity : 'N/A'}"></td>
              <td th:text="${item.releases != null ? item.releases.releaseQuantity : 'N/A'}"></td>
              <td>100</td>
              <td th:text="${item.contract != null ? item.contract.itemPrice : 'N/A'}"></td>-->
              <td></td>
            </tr>
          </tbody>
        </table>
          <div class="pagination">
              <button class="pagination-button">이전</button>
              <span>1/10 페이지</span>
              <button class="pagination-button">다음</button>
          </div>
      </section>
    </div>
  </div>

  <script>
    // 기말 재고를 자동으로 계산합니다.
    // 이 함수는 기말 재고와 단가를 곱하여 자동으로 재고 금액을 산출합니다.
    function calculateInventoryAmount() {
    }
  
    window.onload = function() {
      calculateInventoryAmount();
    };
  </script>
  <script src="/js/inventory.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>