<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>자재 현황 관리 그래프</title>
  <link rel="stylesheet" href="/css/inventory_management.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="icon" href="/image/favicon-32x32.png">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/fragment1}"></th:block>
<th:block th:replace="~{/fragments/fragment3 :: subnav(currentPageName='자재 관리 > 재고(금액) 관리')}"></th:block>
<div class="container">
  <th:block th:replace="~{/fragments/fragment2}"></th:block>
  <div class="content">
    <div class="ten">
      <h2>현황 관리 그래프</h2>
    </div>
    <div class="head-box">
      <div class="date-search">
        <input type="date" id="date-start" placeholder="시작 날짜"> <span>&nbsp; - &nbsp;</span>
        <input type="date" id="date-end" placeholder="종료 날짜">
        <button id="date-search-btn">검색</button>
      </div>
      <div class="save-btn">
        <button id="issue-order-btn-large" class="button">대분류</button>
        <button id="issue-order-btn-medium" class="button">중분류</button>
        <button id="issue-order-btn-small" class="button">소분류</button>
      </div>
    </div>
    <div class="graph">
      <canvas id="myChart" width="600" height="500"></canvas>
      <div id="container3" style="width: 1000px; height: 500px;"></div>
    </div>
    <div class="data-table">
      <table>
        <thead>
        <tr>
          <th>품목</th>
          <th>개수(EA)</th>
          <th>단가(원)</th>
          <th>재고금액(원)</th>
        </tr>
        </thead>
        <tbody id="data-table-body">
        <!-- 여기에 데이터가 동적으로 추가됩니다 -->
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
<!-- 표 업데이트 스크립트 -->
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    const oneMonthAfter = new Date();
    oneMonthAfter.setDate(oneMonthAfter.getDate() + 30);
    document.getElementById('date-end').value = oneMonthAfter.toISOString().split('T')[0];

    // 30일 전 날짜를 기본 시작 날짜로 설정
    const oneMonthAgo = new Date();
    oneMonthAgo.setDate(oneMonthAgo.getDate() - 30);
    document.getElementById('date-start').value = oneMonthAgo.toISOString().split('T')[0];

  // 초기 데이터 로드
  const startDate = document.getElementById('date-start').value;
  const endDate = document.getElementById('date-end').value;

  // 초기 차트 및 테이블 데이터 로드
  fetchAndUpdateTable(`/receive/inventory_management/search?startDate=${startDate}&endDate=${endDate}&category=${currentCategory}`);
  fetchAndUpdateCharts(`/receive/inventory_management/search?startDate=${startDate}&endDate=${endDate}&category=${currentCategory}`);
  });

  let currentCategory = 'unit'; // 초기 카테고리를 '대분류'로 설정

  document.getElementById('date-search-btn').addEventListener('click', () => {
    const startDate = document.getElementById('date-start').value;
    const endDate = document.getElementById('date-end').value;

    if (startDate && endDate) {
      fetchAndUpdateTable(`/receive/inventory_management/search?startDate=${startDate}&endDate=${endDate}&category=${currentCategory}`);
      fetchAndUpdateCharts(`/receive/inventory_management/search?startDate=${startDate}&endDate=${endDate}&category=${currentCategory}`);
    } else {
      alert('시작 날짜와 종료 날짜를 모두 선택해주세요.');
    }
  });

  const fetchAndUpdateTable = async (endpoint) => {
    try {
      const response = await fetch(endpoint);
      const data = await response.json();

      // 표 업데이트
      updateTable(data);
    } catch (error) {
      console.error('Error fetching data:', error);
    }
  };

  const updateTable = (data) => {
    const tableBody = document.getElementById('data-table-body');
    tableBody.innerHTML = ''; // 기존 데이터 초기화

    data.forEach(item => {
      const row = document.createElement('tr');

      const itemNameCell = document.createElement('td');
      itemNameCell.textContent = item.itemName;
      row.appendChild(itemNameCell);

      const receiveQuantityCell = document.createElement('td');
      receiveQuantityCell.textContent = item.receiveQuantity;
      row.appendChild(receiveQuantityCell);

      const itemPriceCell = document.createElement('td');
      itemPriceCell.textContent = item.itemPrice.toLocaleString();
      row.appendChild(itemPriceCell);

      const totalValueCell = document.createElement('td');
      totalValueCell.textContent = (item.itemPrice * item.allQuantity).toLocaleString();
      row.appendChild(totalValueCell);

      tableBody.appendChild(row);
    });
  };
</script>

<!-- 차트 업데이트 스크립트 -->
<script type="text/javascript">
  const fetchAndUpdateCharts = async (endpoint) => {
    try {
      const response = await fetch(endpoint);
      const data = await response.json();

      // 데이터에서 itemName과 inventoryValue를 추출
      const labels = data.map(item => item.itemName);
      const values = data.map(item => item.inventoryValue);

      // 차트 업데이트
      updateEchartsChart(values, labels);
      updateDoughnutChart(values, labels);
    } catch (error) {
      console.error('Error fetching data:', error);
    }
  };

  // Echarts 차트 초기화
  const echartsContainer = document.getElementById('container3');
  const myChartEcharts = echarts.init(echartsContainer, null, { renderer: 'canvas', useDirtyRect: false });

  const updateEchartsChart = (data, labels) => {
    const option = {
      xAxis: {
        type: 'category',
        data: labels,
        axisLabel: {
          interval: 0, // 모든 레이블 표시
          fontSize: 14,
        },
        name: '품목명',
        nameTextStyle: {
          fontSize: 16
        }
      },
      yAxis: {
        type: 'value',
        name: '재고 금액(원)',
        nameTextStyle: {
          fontSize: 16 // y축 이름 글자 크기
        },
        axisLabel: {
          fontSize: 14 // y축 글자 크기
        }
      },
      series: [{
        data: data,
        type: 'bar',
        showBackground: true,
        backgroundStyle: { color: 'rgba(180, 180, 180, 0.2)' },
        itemStyle: {
          color: '#066278'
        }
      }],
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        },
        textStyle: {
          fontSize: 14
        }
      }
    };

    if (option && typeof option === 'object') {
      myChartEcharts.setOption(option);
    }

    // 리사이즈 이벤트 처리
    window.addEventListener('resize', () => {
      if (myChartEcharts) {
        myChartEcharts.resize();
      }
    });
  };

  // Chart.js 도넛 차트 초기화
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChartDoughnut = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: [],
      datasets: [{
        data: [],
        backgroundColor: [
          'rgba(255, 99, 132, 0.8)',
          'rgba(54, 162, 235, 0.8)',
          'rgba(255, 206, 86, 0.8)',
          'rgba(75, 192, 192, 0.8)',
          'rgba(153, 102, 255, 0.8)',
          'rgba(255, 159, 64, 0.8)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1,
        hoverOffset: 4
      }]
    },
    options: {
      responsive: false,
      plugins: { legend: { position: 'right' } }
    }
  });

  const updateDoughnutChart = (data, labels) => {
    myChartDoughnut.data.labels = labels;
    myChartDoughnut.data.datasets[0].data = data;
    myChartDoughnut.update();
  };

  // 카테고리 버튼 클릭 이벤트 핸들러
  document.getElementById('issue-order-btn-large').addEventListener('click', () => {
    currentCategory = 'unit';
    fetchAndUpdateCharts(`/inventory_management/unit?startDate=${document.getElementById('date-start').value}&endDate=${document.getElementById('date-end').value}`);
  });

  document.getElementById('issue-order-btn-medium').addEventListener('click', () => {
    currentCategory = 'assy';
    fetchAndUpdateCharts(`/inventory_management/assy?startDate=${document.getElementById('date-start').value}&endDate=${document.getElementById('date-end').value}`);
  });

  document.getElementById('issue-order-btn-small').addEventListener('click', () => {
    currentCategory = 'part';
    fetchAndUpdateCharts(`/inventory_management/part?startDate=${document.getElementById('date-start').value}&endDate=${document.getElementById('date-end').value}`);
  });

  // 초기 차트 로드
  window.onload = function() {
    fetchAndUpdateCharts(`/inventory_management/unit?startDate=${document.getElementById('date-start').value}&endDate=${document.getElementById('date-end').value}`);
    setTimeout(() => {
      if (myChartEcharts) {
        myChartEcharts.resize();
      }
    }, 100);
  };
</script>

<script src="/js/index.js"></script>
<script src="/js/inventory_management.js"></script>
</body>
</html>
