<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" href="/image/favicon-32x32.png">
</head>
<body>
<main>
    <div class="login-container">
        <h4>구 매 조 달 시 스 템</h4>
        <div class="logo">
            <img src="/image/sf_logo01.png" alt="세페스트">
        </div>
        <h2>비 밀 번 호 재 설 정</h2>
        <form th:action="@{/member/reset_password_form}" method="post">
            <div class="input-container">
                <label for="empNumber"><span class="ten">　아이디</span></label>
                <input type="text" id="empNumber" class="input-field" name="empNumber" placeholder="아이디를 입력하세요" autofocus required>
            </div>
            <div class="input-container">
                <label for="email"><span class="ten">　이메일</span></label>
                <input type="email" id="email" class="input-field" name="email" placeholder="이메일 주소를 입력하세요" required>
            </div>
            <button class="login-btn" type="submit">이메일 전송</button>
        </form>

        <script>
            function validateForm() {
                const inputs = document.querySelectorAll('input[required]');
                for (let i = 0; i < inputs.length; i++) {
                    if (!inputs[i].value) {
                        alert("빈 칸을 채워주세요.");
                        return false; // 폼 제출 방지
                    }
                }
                return true; // 폼 제출 허용
            }
        </script>
    </div>
    </div>
</main>
</body>
</html>