<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>자재입고</title>
  <link rel="stylesheet" href="/css/receive.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="icon" href="/image/favicon-32x32.png">
  <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/fragment1}"></th:block>
<th:block th:replace="~{/fragments/fragment3 :: subnav(currentPageName='자재 관리 > 자재 입출고')}"></th:block>
<div class="container">
  <th:block th:replace="~{/fragments/fragment2}"></th:block>
  <div class="content">
    <section class="procurement-plan">
      <div class="ten">
        <h2>자재 입고</h2>
      </div>
      <!--      <div class="save-btn">-->
      <!--        <button id="issue-order-btn" class="button">저장</button>-->
      <!--        <button id="close-button" style="display: none;">마감</button>-->
      <!--      </div>-->
      <table>
        <thead>
        <tr>
          <th>발주번호</th>
          <th>업체명</th>
          <th>품목명</th>
          <th>발주일</th>
          <th>조달납기일</th>
          <th>재고</th>
          <th>발주 수량</th>
          <th>입고 수량</th>
          <th>완료</th> <!-- 완료 버튼 추가 -->
          <th>저장</th>
        </tr>
        </thead>
        <tbody id="procurement-plan-list">
        <tr th:each="purchase : ${resultA.dtoList}">
          <td th:text="${purchase.purchOrderNumber}"></td>
          <td th:text="${purchase.coOpCompany.companyName}"></td>
          <td th:text="${purchase.item.itemName}"></td>
          <td th:text="${purchase.purchOrderDate}"></td>
          <td th:text="${purchase.receiveDuedate}"></td>
          <td th:text="${#lists.isEmpty(purchase.quantities) ? 0 : purchase.quantities[0].allQuantity}"></td>
          <td th:text="${purchase.purchOrderQuantity}" data-proc-quantity="${purchase.purchOrderQuantity}"></td>
          <td><input type="text" class="procurement-quantity-input" min="0" data-proc-plan-number="${purchase.purchOrderNumber}"></td>
          <td th:text="${purchase.item.itemCode}" style="display: none;"></td>
          <td th:text="${purchase.completed}" style="display: none;"></td>
          <td><button class="complete-btn button">완료</button></td>
          <td><button id="issue-order-btn" class="button">저장</button></td>
        </tr>
        </tbody>
      </table>
      <div class="pagination1">
        <ul>
          <!-- 이전 페이지 링크 -->
          <li th:if="${resultA.page > 1}">
            <a th:href="@{'/receive/receive?page=' + ${resultA.page - 1}}" class="page-btn">Previous</a>
          </li>
          <!-- 페이지 번호 링크 -->
          <li th:each="pageNum : ${#numbers.sequence(1, resultA.totalPage)}" th:class="${pageNum == resultA.page} ? 'active' : ''">
            <a th:href="@{'/receive/receive?page=' + ${pageNum}}" class="page-btn">[[${pageNum}]]</a>
          </li>
          <!-- 다음 페이지 링크 -->
          <li th:if="${resultA.page < resultA.totalPage}">
            <a th:href="@{'/receive/receive?page=' + ${resultA.page + 1}}" class="page-btn">Next</a>
          </li>
        </ul>
      </div>
      <div class="ten">
        <h2>자재 출고</h2>
      </div>
      <table>
        <thead>
        <tr>
          <th>생산계획번호</th>
          <th>제품명</th>
          <th>품목명</th>
          <th>품목 코드</th>
          <th>재고 수량</th>
          <th>출고 수량</th>
          <th>저장</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="quantity: ${resultC.dtoList}" th:classappend="${quantity.allQuantity == 0} ? 'hidden' : ''">
          <td th:text="${quantity.productionPlan.prodPlanCode}"></td>
          <td th:text="${quantity.productionPlan.product.productName}"></td>
          <td th:text="${quantity.item.itemName}"></td>
          <td th:text="${quantity.item.itemCode}"></td>
          <td th:text="${quantity.allQuantity}"></td>
          <td><input type="text" class="release-quantity-input"></td>
          <td><button id="save-button" class="button">저장</button></td>
          <td th:text="${quantity.quantityId}" style="display: none;"></td>
        </tr>
        </tbody>
      </table>
      <div class="pagination2">
        <ul>
          <!-- 이전 페이지 링크 -->
          <li th:if="${resultC.page > 1}">
            <a th:href="@{'/receive/receive?page=' + ${resultC.page - 1}}" class="page-btn">Previous</a>
          </li>
          <!-- 페이지 번호 링크 -->
          <li th:each="pageNum : ${#numbers.sequence(1, resultC.totalPage)}" th:class="${pageNum == resultC.page} ? 'active' : ''">
            <a th:href="@{'/receive/receive?page=' + ${pageNum}}" class="page-btn">[[${pageNum}]]</a>
          </li>
          <!-- 다음 페이지 링크 -->
          <li th:if="${resultC.page < resultC.totalPage}">
            <a th:href="@{'/receive/receive?page=' + ${resultC.page + 1}}" class="page-btn">Next</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="purchase-order">
      <div class="ten">
        <h2>자재 입고 리스트</h2>
      </div>
      <div class="search-bar">
        <div class="date-search">
          <input type="date" id="date-start" placeholder="시작 날짜"> <span>&nbsp; - &nbsp;&nbsp;</span>
          <input type="date" id="date-end" placeholder="종료 날짜">
          <button id="date-search-btn">검색</button>
        </div>
        <div class="keyword-search">
          <select id="keyword-search-type">
            <option value="companyName">업체명</option>
            <option value="itemName">품목명</option>
          </select>
          <input type="text" id="keyword-search" placeholder="키워드 검색">
          <button id="keyword-search-btn" onclick="searchInventory()">검색</button>
        </div>
      </div>
      <table>
        <thead>
        <tr>
          <th>발주번호</th>
          <th>업체명</th>
          <th>품목명</th>
          <th>입고일</th>
          <th>입고 수량</th>
        </tr>
        </thead>
        <tbody id="purchase-order-list">
        <tr th:each="receive : ${resultB.dtoList}">
          <td th:text="${receive.purchaseOrder.purchOrderNumber}"></td>
          <td th:text="${receive.purchaseOrder.coOpCompany.companyName}"></td>
          <td th:text="${receive.purchaseOrder.item.itemName}"></td>
          <td th:text="${receive.receiveDate}"></td>
          <td th:text="${receive.receiveQuantity}"></td>
        </tr>
        </tbody>
      </table>
      <div class="pagination3">
        <ul>
          <!-- 이전 페이지 링크 -->
          <li th:if="${resultB.page > 1}">
            <a th:href="@{'/receive/receive?page=' + ${resultB.page - 1}}" class="page-btn">Previous</a>
          </li>
          <!-- 페이지 번호 링크 -->
          <li th:each="pageNum : ${#numbers.sequence(1, resultB.totalPage)}" th:class="${pageNum == resultB.page} ? 'active' : ''">
            <a th:href="@{'/receive/receive?page=' + ${pageNum}}" class="page-btn">[[${pageNum}]]</a>
          </li>
          <!-- 다음 페이지 링크 -->
          <li th:if="${resultB.page < resultB.totalPage}">
            <a th:href="@{'/receive/receive?page=' + ${resultB.page + 1}}" class="page-btn">Next</a>
          </li>
        </ul>
      </div>
    </section>

    <section class="purchase-order2">
      <div class="ten">
        <h2>자재 출고 리스트</h2>
      </div>
      <div class="search-bar2">
        <div class="date-search2">
          <input type="date" id="date-start2" placeholder="시작 날짜"> <span>&nbsp; - &nbsp;&nbsp;</span>
          <input type="date" id="date-end2" placeholder="종료 날짜">
          <button id="date-search-btn2">검색</button>
        </div>
        <div class="keyword-search2">
          <select id="keyword-search-type2">
            <option value="productName">제품명</option>
            <option value="itemName">품목명</option>
          </select>
          <input type="text" id="keyword-search2" placeholder="키워드 검색">
          <button id="keyword-search-btn2" onclick="searchInventory2()">검색</button>
        </div>
      </div>
      <table>
        <thead>
        <tr>
          <th>제품명</th>
          <th>품목명</th>
          <th>품목 코드</th>
          <th>출고일</th>
          <th>출고 수량</th>
        </tr>
        </thead>
        <tbody id="purchase-order-list2">
        <tr th:each="release: ${resultD.dtoList}" >
          <td th:text="${release.quantity.productionPlan.product.productName}"></td>
          <td th:text="${release.quantity.item.itemName}"></td>
          <td th:text="${release.quantity.item.itemCode}"></td>
          <td th:text="${release.releaseDate}"></td>
          <td th:text="${release.releaseQuantity}"></td>
        </tr>
        </tbody>
      </table>
      <div class="pagination4">
        <ul>
          <!-- 이전 페이지 링크 -->
          <li th:if="${resultD.page > 1}">
            <a th:href="@{'/receive/receive?page=' + ${resultD.page - 1}}" class="page-btn">Previous</a>
          </li>
          <!-- 페이지 번호 링크 -->
          <li th:each="pageNum : ${#numbers.sequence(1, resultD.totalPage)}" th:class="${pageNum == resultD.page} ? 'active' : ''">
            <a th:href="@{'/receive/receive?page=' + ${pageNum}}" class="page-btn">[[${pageNum}]]</a>
          </li>
          <!-- 다음 페이지 링크 -->
          <li th:if="${resultD.page < resultD.totalPage}">
            <a th:href="@{'/receive/receive?page=' + ${resultD.page + 1}}" class="page-btn">Next</a>
          </li>
        </ul>
      </div>
    </section>

  </div>

</div>



<script src="/js/receive.js"></script>
<script src="/js/index.js"></script>
<script>
  $(document).ready(function() {
    // 발주 수량과 입고 수량을 비교하여 완료 버튼 또는 저장 버튼을 보이거나 숨깁니다.
    function toggleButtonVisibility() {
      $('#procurement-plan-list tr').each(function () {
        var row = $(this);
        var orderQuantity = parseInt(row.find('td:nth-child(7)').text().trim()); // 발주 수량 가져오기
        var stockQuantity = parseInt(row.find('td:nth-child(6)').text().trim()); // 재고 수량 가져오기

        if (stockQuantity === orderQuantity) {
          row.find('.complete-btn').show(); // 재고 수량과 발주 수량이 같으면 완료 버튼 보이기
          row.find('#issue-order-btn').hide(); // 재고 수량과 발주 수량이 같으면 저장 버튼 숨기기
        } else {
          row.find('.complete-btn').hide(); // 재고 수량과 발주 수량이 다르면 완료 버튼 숨기기
          row.find('#issue-order-btn').show(); // 재고 수량과 발주 수량이 다르면 저장 버튼 보이기
        }
      });
    }

// 페이지 로드 시 버튼의 표시 여부를 초기화합니다.
    toggleButtonVisibility();

// 재고 수량이 변경될 때마다 버튼의 표시 여부를 업데이트합니다.
    $(document).on('input', '.stock-quantity-input', function() {
      toggleButtonVisibility();
    });



    $(document).on('click', '#issue-order-btn', function () {
      var row = $(this).closest('tr'); // 클릭된 버튼이 속한 행 찾기
      var purchOrderNumber = row.find("td:eq(0)").text(); // 발주번호
      var receiveQuantityInput = row.find(".procurement-quantity-input"); // 입고 수량 입력란
      var receiveQuantity = parseInt(receiveQuantityInput.val()); // 입고 수량 입력 값
      var itemCode = row.find("td:eq(8)").text(); // 품목 코드

      // 입력된 입고 수량이 0 이하인 경우 처리
      if (receiveQuantity <= 0) {
        alert('입고 수량은 0보다 커야 합니다.');
        return; // 입고 수량이 0 이하면 함수 종료
      }

      var receiveDTO = {
        receiveQuantity: receiveQuantity,
        purchOrderNumber: purchOrderNumber,
        itemCode: itemCode
      };

      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/receive/receive",
        data: JSON.stringify(receiveDTO),
        dataType: 'json',
        success: function(response) {
          alert('등록되었습니다.');
          window.location.href = "/receive/receive";
        },
        error: function (xhr, status, error) {
          var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : '등록에 실패했습니다.';
          alert(errorMessage);
        }
      });
    });


    $(document).on('click', '#save-button', function () {
      var row = $(this).closest('tr'); // 클릭된 버튼이 속한 행 찾기
      var releaseQuantity = row.find('.release-quantity-input').val(); // 출고 수량 가져오기
      var stockQuantity = parseFloat(row.find("td:eq(4)").text()); // 재고 수량 가져오기
      var itemCode = row.find("td:eq(3)").text();
      var quantityId = row.find("td:eq(7)").text();

      // 출고 수량이 재고 수량보다 많은 경우 전송을 막고 알림창을 띄웁니다.
      if (parseFloat(releaseQuantity) > stockQuantity) {
        alert('출고 수량이 재고 수량보다 많습니다. 다시 입력해주세요.');
        return;
      }

      if (!releaseQuantity) {
        alert('출고 수량을 입력해주세요.'); // 출고 수량이 없는 경우 경고를 표시합니다.
        return;
      }

      // 출고 처리 등의 작업 수행
      var releasesDTO  = {
        releaseQuantity: releaseQuantity,
        itemCode: itemCode,
        quantityId: quantityId // quantityId로 수정
        // 기타 필요한 데이터 추가
      };

      // Ajax를 사용하여 서버로 데이터 전송
      $.ajax({
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(releasesDTO),
        dataType: 'json',
        url: "/receive/add",
        success: function (response) {
          // 서버로부터의 응답 데이터를 콘솔에 출력합니다.
          console.log(response);
          // 성공적인 메시지를 사용자에게 표시할 수 있습니다.
          alert('출고가 성공적으로 등록되었습니다.');
          // 성공적으로 처리되었다는 메시지 등을 표시할 수 있습니다.
          window.location.href = "/receive/receive";
        },
        error: function (xhr, status, error) {
          // 오류 메시지를 콘솔에 출력합니다.
          console.error(xhr, status, error);
          // 오류 메시지를 사용자에게 표시할 수 있습니다.
          alert('출고 등록 중 오류가 발생했습니다.');
          // 오류 처리를 수행할 수 있습니다.
        }
      });
    });
    // 검색 버튼 클릭 시 실행되는 함수
    function searchInventory() {
      // 검색 키워드와 타입 가져오기
      var keyword = document.getElementById("keyword-search").value.toLowerCase();
      var searchType = document.getElementById("keyword-search-type").value;

      // 테이블의 모든 행 가져오기
      var rows = document.querySelectorAll("#purchase-order-list tr");

      // 각 행을 순회하며 검색 키워드와 일치하는 항목이 있는지 확인
      rows.forEach(function(row) {
        // 각 행에서 검색 대상이 되는 텍스트 가져오기
        var searchText = row.querySelector("td:nth-child(" + (getColumnIndex(searchType) + 1) + ")").textContent.toLowerCase();

        // 검색 키워드와 일치하는지 확인
        if (searchText.includes(keyword)) {
          row.style.display = ""; // 일치하는 경우 행 표시
        } else {
          row.style.display = "none"; // 일치하지 않는 경우 행 숨김
        }
      });
    }

    // 검색 타입에 따라 열의 인덱스를 반환하는 함수
    function getColumnIndex(searchType) {
      switch (searchType) {
        case "itemName":
          return 2;
        case "companyName":
          return 1;
        default:
          return 0;
      }
    }

    // 검색 버튼에 이벤트 리스너 추가
    document.getElementById("keyword-search-btn").addEventListener("click", searchInventory);

    // 검색 버튼 클릭 시 실행되는 함수
    function searchInventory2() {
      // 검색 키워드와 타입 가져오기
      var keyword = document.getElementById("keyword-search2").value.toLowerCase();
      var searchType = document.getElementById("keyword-search-type2").value;

      // 테이블의 모든 행 가져오기
      var rows = document.querySelectorAll("#purchase-order-list2 tr");

      // 각 행을 순회하며 검색 키워드와 일치하는 항목이 있는지 확인
      rows.forEach(function(row) {
        // 각 행에서 검색 대상이 되는 텍스트 가져오기
        var searchText = row.querySelector("td:nth-child(" + (getColumnIndex2(searchType) + 1) + ")").textContent.toLowerCase();

        // 검색 키워드와 일치하는지 확인
        if (searchText.includes(keyword)) {
          row.style.display = ""; // 일치하는 경우 행 표시
        } else {
          row.style.display = "none"; // 일치하지 않는 경우 행 숨김
        }
      });
    }

    // 검색 타입에 따라 열의 인덱스를 반환하는 함수
    function getColumnIndex2(searchType) {
      switch (searchType) {
        case "productName":
          return 0;
        case "itemName":
          return 1;
        default:
          return 0;
      }
    }

    // 검색 버튼에 이벤트 리스너 추가
    document.getElementById("keyword-search-btn2").addEventListener("click", searchInventory2);

  });
</script>
<script>
  $(document).ready(function () {
    function hideCompletedRows() {
      $('#procurement-plan-list tr').each(function () {
        var completed = $(this).find('td:eq(9)').text().trim(); // 완료 여부 가져오기
        if (completed === "true") {
          $(this).hide(); // 완료된 항목은 숨깁니다.
        }
      });
    }

    // 페이지 로드 시 완료가 1인 행 숨기기
    hideCompletedRows();

    $('.complete-btn').click(function () {
      var row = $(this).closest('tr');
      var purchOrderNumber = row.find('td:first-child').text().trim(); // 발주번호 가져오기

      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/receive/complete/" + purchOrderNumber, // 발주번호를 전달하여 완료 여부 확인
        data: JSON.stringify({ completed: true }),
        success: function () {
          alert('완료 처리되었습니다.');
          window.location.reload();
        },
        error: function (xhr, status, error) {
          alert('완료 처리 중 오류가 발생했습니다.');
          console.error(xhr, status, error);
        }
      });
    });

  });
</script>
</body>
</html>