<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>자재입고</title>
  <link rel="stylesheet" href="/css/receive.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="icon" href="/image/favicon-32x32.png">
  <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/fragment1}"></th:block>
<th:block th:replace="~{/fragments/fragment3 :: subnav(currentPageName='자재 관리 > 자재 입출고')}"></th:block>
<div class="container">
  <th:block th:replace="~{/fragments/fragment2}"></th:block>
  <div class="content">
    <section class="procurement-plan">
      <div class="ten">
        <h2>자재 입고</h2>
      </div>
      <!--      <div class="save-btn">-->
      <!--        <button id="issue-order-btn" class="button">저장</button>-->
      <!--        <button id="close-button" style="display: none;">마감</button>-->
      <!--      </div>-->
      <table>
        <thead>
        <tr>
          <th>발주번호</th>
          <th>업체명</th>
          <th>품목명</th>
          <th>발주일</th>
          <th>조달납기일</th>
          <th>재고</th>
          <th>발주 수량</th>
          <th>입고 수량</th>
          <th>저장</th>
        </tr>
        </thead>
        <tbody id="procurement-plan-list">
        <tr th:each="purchase : ${resultA.dtoList}"
            th:classappend="${#lists.isEmpty(purchase.quantities) ? 0 : purchase.quantities[0].allQuantity == purchase.purchOrderQuantity} ? 'hidden' : ''">
          <td th:text="${purchase.purchOrderNumber}"></td>
          <td th:text="${purchase.coOpCompany.companyName}"></td>
          <td th:text="${purchase.item.itemName}"></td>
          <td th:text="${purchase.purchOrderDate}"></td>
          <td th:text="${purchase.receiveDuedate}"></td>
          <td th:text="${#lists.isEmpty(purchase.quantities) ? 0 : purchase.quantities[0].allQuantity}"></td>
          <td th:text="${purchase.purchOrderQuantity}" data-proc-quantity="${purchase.purchOrderQuantity}"></td>
          <td><input type="text" class="procurement-quantity-input" min="0" data-proc-plan-number="${purchase.purchOrderNumber}"></td>
          <td th:text="${purchase.item.itemCode}" style="display: none;"></td>
          <td><button id="issue-order-btn" class="button">저장</button></td>
        </tr>
        </tbody>
      </table>
      <div class="pagination1">
        <ul>
          <!-- 이전 페이지 링크 -->
          <li th:if="${resultA.page > 1}">
            <a th:href="@{'/receive/receive?page=' + ${resultA.page - 1}}" class="page-btn">Previous</a>
          </li>
          <!-- 페이지 번호 링크 -->
          <li th:each="pageNum : ${#numbers.sequence(1, resultA.totalPage)}" th:class="${pageNum == resultA.page} ? 'active' : ''">
            <a th:href="@{'/receive/receive?page=' + ${pageNum}}" class="page-btn">[[${pageNum}]]</a>
          </li>
          <!-- 다음 페이지 링크 -->
          <li th:if="${resultA.page < resultA.totalPage}">
            <a th:href="@{'/receive/receive?page=' + ${resultA.page + 1}}" class="page-btn">Next</a>
          </li>
        </ul>
      </div>
      <div class="ten">
        <h2>자재 출고</h2>
      </div>
      <table>
        <thead>
        <tr>
          <th>생산계획번호</th>
          <th>제품명</th>
          <th>품목명</th>
          <th>품목 코드</th>
          <th>재고 수량</th>
          <th>출고 수량</th>
          <th>저장</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="quantity: ${resultC.dtoList}" th:classappend="${quantity.allQuantity == 0} ? 'hidden' : ''">
          <td th:text="${quantity.productionPlan.prodPlanCode}"></td>
          <td th:text="${quantity.productionPlan.product.productName}"></td>
          <td th:text="${quantity.item.itemName}"></td>
          <td th:text="${quantity.item.itemCode}"></td>
          <td th:text="${quantity.allQuantity}"></td>
          <td><input type="text" class="release-quantity-input"></td>
          <td><button id="save-button" class="button">저장</button></td>
          <td th:text="${quantity.quantityId}" style="display: none;"></td>
        </tr>
        </tbody>
      </table>
      <div class="pagination2">
        <ul>
          <!-- 이전 페이지 링크 -->
          <li th:if="${resultC.page > 1}">
            <a th:href="@{'/receive/receive?page=' + ${resultC.page - 1}}" class="page-btn">Previous</a>
          </li>
          <!-- 페이지 번호 링크 -->
          <li th:each="pageNum : ${#numbers.sequence(1, resultC.totalPage)}" th:class="${pageNum == resultC.page} ? 'active' : ''">
            <a th:href="@{'/receive/receive?page=' + ${pageNum}}" class="page-btn">[[${pageNum}]]</a>
          </li>
          <!-- 다음 페이지 링크 -->
          <li th:if="${resultC.page < resultC.totalPage}">
            <a th:href="@{'/receive/receive?page=' + ${resultC.page + 1}}" class="page-btn">Next</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="purchase-order">
      <div class="ten">
        <h2>자재 입고 리스트</h2>
      </div>
      <div class="search-bar">
        <div class="date-search">
          <input type="date" id="date-start" placeholder="시작 날짜"> <span>&nbsp; - &nbsp;&nbsp;</span>
          <input type="date" id="date-end" placeholder="종료 날짜">
          <button id="date-search-btn">검색</button>
        </div>
        <div class="keyword-search">
          <select id="keyword-search-type">
            <option value="품목코드" checked>품목코드</option>
            <option value="company">업체명</option>
            <option value="item">품목명</option>
          </select>
          <input type="text" id="keyword-search" placeholder="키워드 검색">
          <button id="keyword-search-btn">검색</button>
        </div>
      </div>
      <table>
        <thead>
        <tr>
          <th>발주번호</th>
          <th>업체명</th>
          <th>품목명</th>
          <th>입고일</th>
          <th>입고 수량</th>
        </tr>
        </thead>
        <tbody id="purchase-order-list">
        <tr th:each="receive : ${resultB.dtoList}">
          <td th:text="${receive.purchaseOrder.purchOrderNumber}"></td>
          <td th:text="${receive.purchaseOrder.coOpCompany.companyName}"></td>
          <td th:text="${receive.purchaseOrder.item.itemName}"></td>
          <td th:text="${receive.receiveDate}"></td>
          <td th:text="${receive.receiveQuantity}"></td>
        </tr>
        </tbody>
      </table>
      <div class="pagination3">
        <ul>
          <!-- 이전 페이지 링크 -->
          <li th:if="${resultB.page > 1}">
            <a th:href="@{'/receive/receive?page=' + ${resultB.page - 1}}" class="page-btn">Previous</a>
          </li>
          <!-- 페이지 번호 링크 -->
          <li th:each="pageNum : ${#numbers.sequence(1, resultB.totalPage)}" th:class="${pageNum == resultB.page} ? 'active' : ''">
            <a th:href="@{'/receive/receive?page=' + ${pageNum}}" class="page-btn">[[${pageNum}]]</a>
          </li>
          <!-- 다음 페이지 링크 -->
          <li th:if="${resultB.page < resultB.totalPage}">
            <a th:href="@{'/receive/receive?page=' + ${resultB.page + 1}}" class="page-btn">Next</a>
          </li>
        </ul>
      </div>
    </section>

    <section class="purchase-order2">
      <div class="ten">
        <h2>자재 출고 리스트</h2>
      </div>
      <div class="search-bar">
        <div class="date-search">
          <input type="date" id="date-start2" placeholder="시작 날짜"> <span>&nbsp; - &nbsp;&nbsp;</span>
          <input type="date" id="date-end2" placeholder="종료 날짜">
          <button id="date-search-btn2">검색</button>
        </div>
        <div class="keyword-search">
          <select id="keyword-search-type2">
            <option value="품목코드" checked>품목코드</option>
            <option value="company">업체명</option>
            <option value="item">품목명</option>
          </select>
          <input type="text" id="keyword-search2" placeholder="키워드 검색">
          <button id="keyword-search-btn2">검색</button>
        </div>
      </div>
      <table>
        <thead>
        <tr>
          <th>제품명</th>
          <th>품목명</th>
          <th>품목 코드</th>
          <th>출고일</th>
          <th>출고 수량</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="release: ${resultD.dtoList}" >
          <td th:text="${release.quantity.productionPlan.product.productName}"></td>
          <td th:text="${release.quantity.item.itemName}"></td>
          <td th:text="${release.quantity.item.itemCode}"></td>
          <td th:text="${release.releaseDate}"></td>
          <td th:text="${release.releaseQuantity}"></td>
        </tr>
        </tbody>
      </table>
      <div class="pagination4">
        <ul>
          <!-- 이전 페이지 링크 -->
          <li th:if="${resultD.page > 1}">
            <a th:href="@{'/receive/receive?page=' + ${resultD.page - 1}}" class="page-btn">Previous</a>
          </li>
          <!-- 페이지 번호 링크 -->
          <li th:each="pageNum : ${#numbers.sequence(1, resultD.totalPage)}" th:class="${pageNum == resultD.page} ? 'active' : ''">
            <a th:href="@{'/receive/receive?page=' + ${pageNum}}" class="page-btn">[[${pageNum}]]</a>
          </li>
          <!-- 다음 페이지 링크 -->
          <li th:if="${resultD.page < resultD.totalPage}">
            <a th:href="@{'/receive/receive?page=' + ${resultD.page + 1}}" class="page-btn">Next</a>
          </li>
        </ul>
      </div>
    </section>

  </div>

</div>



<script src="/js/receive.js"></script>
<script src="/js/index.js"></script>
<script>
  $(document).ready(function() {

    $(document).on('click', '#issue-order-btn', function () {
      var row = $(this).closest('tr'); // 클릭된 버튼이 속한 행 찾기
      var purchOrderNumber = row.find("td:eq(0)").text(); // 발주번호
      var receiveQuantityInput = row.find(".procurement-quantity-input"); // 입고 수량 입력란
      var receiveQuantity = parseInt(receiveQuantityInput.val()); // 입고 수량 입력 값
      var itemCode = row.find("td:eq(8)").text(); // 품목 코드

      // 입력된 입고 수량이 0 이하인 경우 처리
      if (receiveQuantity <= 0) {
        alert('입고 수량은 0보다 커야 합니다.');
        return; // 입고 수량이 0 이하면 함수 종료
      }

      var receiveDTO = {
        receiveQuantity: receiveQuantity,
        purchOrderNumber: purchOrderNumber,
        itemCode: itemCode
      };

      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/receive/receive",
        data: JSON.stringify(receiveDTO),
        dataType: 'json',
        success: function(response) {
          alert('등록되었습니다.');
          window.location.href = "/receive/receive";
        },
        error: function (xhr, status, error) {
          var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : '등록에 실패했습니다.';
          alert(errorMessage);
        }
      });
    });


    $(document).on('click', '#save-button', function () {
      var row = $(this).closest('tr'); // 클릭된 버튼이 속한 행 찾기
      var releaseQuantity = row.find('.release-quantity-input').val(); // 출고 수량 가져오기
      var stockQuantity = parseFloat(row.find("td:eq(4)").text()); // 재고 수량 가져오기
      var itemCode = row.find("td:eq(3)").text();
      var quantityId = row.find("td:eq(7)").text();

      // 출고 수량이 재고 수량보다 많은 경우 전송을 막고 알림창을 띄웁니다.
      if (parseFloat(releaseQuantity) > stockQuantity) {
        alert('출고 수량이 재고 수량보다 많습니다. 다시 입력해주세요.');
        return;
      }

      if (!releaseQuantity) {
        alert('출고 수량을 입력해주세요.'); // 출고 수량이 없는 경우 경고를 표시합니다.
        return;
      }

      // 출고 처리 등의 작업 수행
      var data  = {
        releaseQuantity: releaseQuantity,
        itemCode: itemCode,
        quantityId: quantityId // quantityId로 수정
        // 기타 필요한 데이터 추가
      };

      // Ajax를 사용하여 서버로 데이터 전송
      $.ajax({
        type: "POST",
        url: "/receive/add",
        data: data,
        success: function (response) {
          // 서버로부터의 응답 데이터를 콘솔에 출력합니다.
          console.log(response);
          // 성공적인 메시지를 사용자에게 표시할 수 있습니다.
          alert('출고가 성공적으로 등록되었습니다.');
          // 성공적으로 처리되었다는 메시지 등을 표시할 수 있습니다.
          window.location.href = "/receive/receive";
        },
        error: function (xhr, status, error) {
          // 오류 메시지를 콘솔에 출력합니다.
          console.error(xhr, status, error);
          // 오류 메시지를 사용자에게 표시할 수 있습니다.
          alert('출고 등록 중 오류가 발생했습니다.');
          // 오류 처리를 수행할 수 있습니다.
        }
      });
    });
  });
</script>
</body>
</html>