body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.user-info {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 10px;
}

.logout-btn {
  background-color: #066278;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #054a5e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.container {
  display: flex;
}

.content {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.sidebar li a:hover {
  background-color: #066278;
}

.sidebar li a i {
  margin-right: 5px;
}

.dropdown li a {
  padding-left: 30px;
  position: relative;
}

.dropdown li a i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown {
  display: none;
  padding-left: 20px;
}

.show {
  display: block;
}

.sidebar li:hover .dropdown {
  display: block;
}

main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

#calendar {
  display: flex;
  margin: 20px;
  width: 800px;
  height: 800px;
}

#productionPlanForm {
  margin: 83px 40px;
  padding: 20px;
  width: 400px;
  height: 550px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.production-plan-form .form-group {
  margin-bottom: 20px;
}

.production-plan-form label {
  display: block;
  font-weight: bold;
  color: #066278;
}


.production-plan-form input[type="date"],
.production-plan-form input[type="text"] {
  width: 94%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.production-plan-form select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.production-plan-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #066278;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.production-plan-form button:hover {
  background-color: #04495d;
}