body {
  font-family: Arial, sans-serif;
  margin: 0px;
  background-color: #f5f5f5;
}

h1, h2 {
  color: #066278;
}

.ten h2 {
  position: relative; /* 부모 요소의 상대적 위치 설정 */
  text-transform: uppercase;
}

.ten h2::before {
  content: ''; /* 가상 요소 내용 초기화 */
  position: absolute; /* 절대적 위치 설정 */
  top: 0; /* 상단에 정렬 */
  left: -10px; /* 왼쪽으로 이동하여 여백을 두고 선의 시작 위치 조정 */
  height: 100%; /* 세로로 가득 채우도록 높이 설정 */
  width: 4px; /* 세로 선의 너비 설정 */
  background-color: #066278; /* 선의 색상 설정 */
}

.container {
  display: flex;
  height: 100vh;
  min-height: 100vh;
}

.content {
  flex: 1;
  width: 1200px;
}

/* 메인 테이블 */
.content .registration-section {
  height: 550px;
}

.registration-section th {
  width: 20%;
}

#contract-form {
  padding-bottom: 20px;
}

.content .management-section {
  margin-top: 35px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.save-section tr td {
  text-align: center;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

th {
  text-align: center;
  background-color: #f2f2f2;
  color: #000;
}

#td-color span {
  color: black;
}

#contractManagementTable tbody tr:hover {
  background-color: #f1f1f1;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

input[type="text"] {
  width: 200px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

input[type="file"] {
  width: 70%;
  padding: 5px;
}

input[type="text"]:hover, input[type="file"]:hover {
  border-color: #066278;
}

button {
  padding: 8px 16px;
  background-color: #066278;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #044258;
}

.save-button {
  float: right;
  margin-top: 10px;
}
.search-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.search-select, .search-input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.search-select:focus, .search-input:focus {
  border-color: #066278;
  box-shadow: 0 0 5px rgba(6, 98, 120, 0.5);
}

#keyword-search-btn {
  margin-left: 5px;
}

.search-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #066278;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #055063;
}

.search-button i {
  font-size: 18px;
}

.management-section table tbody tr td {
  text-align: center;
  text-decoration-color: #333333;
}

/* 페이징 css */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  list-style: none;
  margin: 0 5px;
  display: inline-block;
}

.pagination a {
  color: #333;
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px; /* 버튼 크기 조정 */
}

.pagination a:hover {
  background-color: #f0f0f0;
}

.pagination .disabled a {
  pointer-events: none;
  background-color: #eee;
}

/* 버튼 스타일 */
.delete-button, .contract-button {
  background-color: #066278;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.delete-button:hover, .contract-button:hover {
  background-color: #054a5e;
}


/* 버튼 스타일 */
.delete-button, .contract-button {
  background-color: #066278;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.delete-button:hover, .contract-button:hover {
  background-color: #054a5e;
}
.delete-button:hover, .contract-button:hover {
  background-color: #044258;
}

.content .registration-section,
.content .management-section {
  background-color: #fff; /* 콘텐츠 섹션 배경색 지정 */
  padding: 20px; /* 콘텐츠 섹션 주변 여백 추가 */
  margin-bottom: 20px; /* 콘텐츠 섹션 아래 여백 추가 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
  border-radius: 5px; /* 모서리를 둥글게 만듦 */
}


/* 셀렉트 박스 & file upload input에 대한 css */
.custom-select {
  position: relative;
}

.custom-select select {
  appearance: none;
  width: 218px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-upload input[type="file"] {
  display: none;
}

.file-upload label.button {
  background-color: #066278;
  color: #fff;
  padding: 5px 15px; /* 상하 여백을 조정하여 버튼의 높이를 늘립니다. */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block; /* 라벨을 블록 요소로 변환하여 너비와 높이를 조정할 수 있도록 합니다. */
  text-align: center; /* 텍스트를 가운데 정렬합니다. */
  line-height: 1.5; /* 텍스트의 높이를 조정하여 버튼의 높이와 일치시킵니다. */
  font-size: 16px; /* 텍스트 크기를 조정합니다. */
}

.file-upload label.button:hover {
  background-color: #054a5e;
}

.file-name {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
}