body {
  font-family: Arial, sans-serif;
  margin: 0px;
  background-color: #f5f5f5;
}

h1, h2 {
  color: #066278;
}

.ten h2 {
  position: relative; /* 부모 요소의 상대적 위치 설정 */
  text-transform: uppercase;
}

.ten h2::before {
  content: ''; /* 가상 요소 내용 초기화 */
  position: absolute; /* 절대적 위치 설정 */
  top: 0; /* 상단에 정렬 */
  left: -10px; /* 왼쪽으로 이동하여 여백을 두고 선의 시작 위치 조정 */
  height: 100%; /* 세로로 가득 채우도록 높이 설정 */
  width: 4px; /* 세로 선의 너비 설정 */
  background-color: #066278; /* 선의 색상 설정 */
}

/* 헤더 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.user-info {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 10px;
}

.logout-btn {
  background-color: #066278;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #054a5e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.container {
  display: flex;
  height: 100vh;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}


/* 메인 테이블 */
table {
  border-collapse: collapse;
  width: 98%;
  margin: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 5px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}


th {
  background-color: #f2f2f2;
  width: 150px;
}

.item-registration table td:nth-child(1),
.item-registration table td:nth-child(2) {
  width: 140px;
}

#itemTable tbody tr:hover {
  background-color: #f1f1f1;
}

/* 기타 */
.search-item {
  margin: 15px 15px 15px 0px;
}

select {
  width: 100%; /* select 요소의 너비를 100%로 설정하여 부모 요소에 맞게 조정합니다. */
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #fff; /* 배경색을 흰색으로 설정합니다. */
  appearance: none; /* 기본적인 스타일링을 제거합니다. */
}

select:focus {
  outline: none; /* 선택이 포커스됐을 때의 아웃라인을 제거합니다. */
  border-color: #066278; /* 포커스 시 테두리 색상을 변경합니다. */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* 포커스 시 그림자 효과를 추가합니다. */
}

select option {
  font-size: 14px; /* option 요소의 글꼴 크기를 조정할 수 있습니다. */
  padding: 5px; /* option 요소의 내부 여백을 조정할 수 있습니다. */
}

.search-button[type="button"] {
  margin-right: 0;
}

.product-spec input {
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 2px 10px;
  text-align: left;
}

button[type="submit"], button[type="button"] {
  background-color: #066278;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.3s ease;
  float: right;
  margin-right: 15px;
}

button[type="submit"]:hover, button[type="button"]:hover {
  background-color: #054a5e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

input[type="text"], input[type="number"] {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type="file"] {
  margin-right: auto;
  width: 1010px;
}

input[type="file"] {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-upload {
  position: relative;
  width: 1010px; /* 파일 선택 버튼의 원하는 너비 */
  overflow: hidden;
  display: flex; /* 수직 정렬을 위해 Flexbox를 사용합니다. */
  align-items: center; /* 수직 정렬을 중앙으로 설정합니다. */
}

.file-upload input[type="file"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.file-upload label.button {
  background-color: #066278;
  color: #fff;
  padding: 5px 15px; /* 상하 여백을 조정하여 버튼의 높이를 늘립니다. */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block; /* 라벨을 블록 요소로 변환하여 너비와 높이를 조정할 수 있도록 합니다. */
  text-align: center; /* 텍스트를 가운데 정렬합니다. */
  line-height: 1.5; /* 텍스트의 높이를 조정하여 버튼의 높이와 일치시킵니다. */
  font-size: 16px; /* 텍스트 크기를 조정합니다. */
}

.file-upload label.button:hover {
  background-color: #054a5e;
}

a {
  color: #066278;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#product-name,
#product-material {
  text-align: left;
}

#product-name input,
#product-material input {
  width: 300px;
}

.item-management {
  margin-top: 30px;
}

.keyword-search button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  background-color: #066278;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.search-item select {
  width: 120px;
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #066278;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #044b5e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.pagination {
  text-align: center;
}

.page {
  text-decoration-color: #333333;
}

ul > li {
  list-style: none;
}

.file-name {
  font-size: 16px;
  color: #333;
  margin-left: 15px; /* 좌측 여백 추가 */
}

/* 페이징 css */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  list-style: none;
  margin: 0 5px;
  display: inline-block;
}

.pagination a {
  color: #333;
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px; /* 버튼 크기 조정 */
}

.pagination a:hover {
  background-color: #f0f0f0;
}

.pagination .disabled a {
  pointer-events: none;
  background-color: #eee;
}