body {
  font-family: Arial, sans-serif;
  margin: 0px;
  background-color: #f5f5f5;
}

h1, h2 {
  color: #066278;
}

/* 헤더 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.user-info {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 10px;
}

.logout-btn {
  background-color: #066278;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #054a5e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.container {
  display: flex;
  height: 100vh;
}

.content {
  flex: 1;
  width: 1400px;
}

/* 사이드 바 */
.sidebar {
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: block;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.sidebar li a:hover {
  background-color: #066278;
}

.sidebar li a i {
  margin-right: 5px;
}

.dropdown li a {
  padding-left: 30px;
  position: relative;
}

.dropdown li a i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown {
  display: none;
  padding-left: 20px;
}

.show {
  display: block;
}

.sidebar li:hover .dropdown {
  display: block;
}


/* 메인 테이블 */

section {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

section:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-top: 0;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  clear: both;
}

.date-search,
.keyword-search {
  display: flex;
  align-items: center;
}

.date-search input,
.keyword-search input,
.keyword-search select {
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.date-search input:focus,
.keyword-search input:focus,
.keyword-search select:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.date-search button,
.keyword-search button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  background-color: #066278;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.date-search button:hover,
.keyword-search button:hover {
  background-color: #044b5e;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.button {
  background-color: #066278;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #044b5e;
}

#issue-order-btn,
#delete-order-btn,
#modify-order-btn {
  margin: 0 5px 10px 0;
  float: right; /* 삭제 버튼을 오른쪽으로 이동 */
  padding: 5px 10px;
}

#delete-order-btn {
  background-color: red;
}

/* 모달 창 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 25% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 50%;
  height: 800px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.modal-content table tr td h2 {
  text-align: center;
}

.btn-group {
  display: flex;
}

.btn-group .button {
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.order-date {
  text-align: right;
  font-weight: bold;
}

.supplier-info, .buyer-info {
  vertical-align: top;
  text-align: center; /* 가운데 정렬 */
  border: 1px solid #f2f2f2;
}

.supplier-info h3, .buyer-info h3 {
  margin-top: 0;
}

/* 모달 내 확인 버튼 스타일 */
#checkOrder {
  display: block;
  margin: 20px auto; /* 수직 가운데 정렬을 위해 margin을 auto로 설정 */
  background-color: #066278;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#checkOrder:hover {
  background-color: #054a5e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

#image-container img {
  width: 800px;
  height: 600px;
  display: block;
  margin: 0 auto;
}