<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <style>
        #login_form {
            display: flex;
            flex-direction: column;
            width: 300px; /* 폼의 너비 조정 */
            margin: auto; /* 가운데 정렬 */
        }

        label {
            margin-bottom: 5px; /* 레이블 아래 간격 추가 */
        }

        input, button {
            margin-bottom: 10px; /* 인풋과 버튼 아래 간격 추가 */
            padding: 5px; /* 간격 조정 */
        }
    </style>
</head>
<body>
    <h3>로그인</h3>
    <form th:action="@{/member/login}" method="post" id="login_form">
        <label for="empNumber">아이디:</label>
        <input type="text" id="empNumber" name="empNumber" placeholder="아이디를 입력하세요" autofocus>

        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요">

        <button type="submit">로그인</button>
    </form>

    <div>
        <a th:href="@{/member/forgot_id}">아이디 찾기</a>
        <a th:href="@{/member/reset_password_form}">비밀번호 찾기</a>
        <a th:href="@{/member/create_account_form}">회원가입</a>
    </div>



</body>
</html>
