<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>진척 검수 처리</title>
    <link rel="stylesheet" href="/css/progress_check_item.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" href="/image/favicon-32x32.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<th:block th:replace="~{/fragments/fragment1}"></th:block>
<th:block th:replace="~{/fragments/fragment3 :: subnav(currentPageName='발주 관리 > 진척 검수 처리')}"></th:block>
<div class="container">
    <th:block th:replace="~{/fragments/fragment2}"></th:block>
    <div class="content">
        <div class="ten">
        <h2>진척 검수 처리 - 발주리스트</h2>
        </div>
        <div class="progress">
            <button class="plan-btn" data-modal="modal1">검수계획 등록</button>
            <button class="process-btn" data-modal="modal2">검수처리</button>
        </div>
        <div class="controls">
            <div class="date-search">
                <input type="date" id="start-date" placeholder="Start Date"><span>&nbsp; - &nbsp;</span>
                <input type="date" id="end-date" placeholder="End Date">
                <button class="btn">검색</button>
            </div>
            <div class="select-search">
                <select id="search-option">
                    <option value="order-no">발주번호</option>
                    <option value="item-code">품목코드</option>
                    <option value="item-name">품목명</option>
                </select>
                <input type="text" id="search-input" placeholder="Search">
                <button class="btn">검색</button>
            </div>
        </div>
        <table class="main-table">
            <thead>
            <tr>
                <th>선택</th>
                <th>발주번호</th>
                <th>발주일자</th>
                <th>입고예정일</th>
                <th>품목코드</th>
                <th>품목명</th>
                <th>발주수량</th>
                <th>검수현황</th>
                <th>검수율</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="purchaseOrder : ${result.dtoList}">
                <td><input type="checkbox"></td>
                <td th:text="${purchaseOrder.purchOrderNumber}"></td>
                <td th:text="${purchaseOrder.purchOrderDate}"></td>
                <td th:text="${purchaseOrder.receiveDuedate}"></td>
                <td th:text="${purchaseOrder.item.itemCode}"></td>
                <td th:text="${purchaseOrder.item.itemName}"></td>
                <td th:text="${purchaseOrder.purchOrderQuantity}"></td>
                <td th:if="${maxProgCheckOrders[purchaseOrder.purchOrderNumber] != 0}" th:text="${sumProgCheckResults[purchaseOrder.purchOrderNumber] + ' / ' + maxProgCheckOrders[purchaseOrder.purchOrderNumber]}"></td>
                <td th:if="${maxProgCheckOrders[purchaseOrder.purchOrderNumber] == 0}"></td>
                <td th:text="${@purchaseOrderService.calculateProgressForPurchaseOrder(purchaseOrder)} + '%'"></td>
            </tr>
            </tbody>
        </table>
        <div class="pagination">
            <ul>
                <!-- 이전 페이지 링크 -->
                <li th:if="${result.page > 1}">
                    <a th:href="@{'/progress_check_item/progress_check_item?page=' + ${result.page - 1}}" class="page-btn">◀</a>
                </li>
                <!-- 페이지 번호 링크 -->
                <li th:each="pageNum : ${#numbers.sequence(1, result.totalPage)}" th:class="${pageNum == result.page} ? 'active' : ''">
                    <a th:href="@{'/progress_check_item/progress_check_item?page=' + ${pageNum}}" class="page-btn">[[${pageNum}]]</a>
                </li>
                <!-- 다음 페이지 링크 -->
                <li th:if="${result.page < result.totalPage}">
                    <a th:href="@{'/progress_check_item/progress_check_item?page=' + ${result.page + 1}}" class="page-btn">▶</a>
                </li>
            </ul>
        </div>

        <!-- 모달 1: 검수계획 등록 -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <span class="close-btn">&times;</span>
                <h2>검수 계획 등록</h2>
                <table class="modal-table">
                    <thead>
                    <tr>
                        <th colspan="4">발주 내용</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>발주번호</td>
                        <td><span id="order-no" data-field="purchOrderNumber"></span></td>
                        <td>업체명</td>
                        <td><span data-field="companyName"></span></td>
                    </tr>
                    <tr>
                        <td>발주일자</td>
                        <td><span data-field="orderDate"></span></td>
                        <td>사업자등록번호</td>
                        <td><span data-field="businessNumber"></span></td>
                    </tr>
                    <tr>
                        <td>납기일자</td>
                        <td><span data-field="receiveDueDate"></span></td>
                        <td>품목명</td>
                        <td><span data-field="itemName"></span></td>
                    </tr>
                    <tr>
                        <td>발주수량</td>
                        <td><span data-field="orderQuantity"></span></td>
                        <td>품목코드</td>
                        <td><span data-field="itemCode"></span></td>
                    </tr>
                    </tbody>
                </table>
                <div class="modal-body">
                    <table class="modal-table-3">
                        <thead>
                        <tr>
                            <th>차수</th>
                            <th>검수일자</th>
                            <th>작업</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1차</td>
                            <td><input type="date" class="inspection-date"></td>
                            <td>
                                <button class="btn add-btn">추가</button>
                                <button class="btn delete-btn">삭제</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn save-btn">저장</button>
                    <button class="btn close-btn">닫기</button>
                </div>
            </div>
        </div>

        <!-- 모달 2: 검수처리 -->
        <div id="modal2" class="modal">
            <div class="modal-content">
                <span class="close-btn">&times;</span>
                <h2>검수 처리</h2>
                <div class="modal-header">
                    <table class="modal-table">
                        <table class="modal-table">
                            <thead>
                            <tr>
                                <th colspan="4">발주 내용</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>발주번호</td>
                                <td><span id="modal2-order-no" data-field="purchOrderNumber"></span></td>
                                <td>업체명</td>
                                <td><span data-field="companyName"></span></td>
                            </tr>
                            <tr>
                                <td>발주일자</td>
                                <td><span data-field="orderDate"></span></td>
                                <td>사업자등록번호</td>
                                <td><span data-field="businessNumber"></span></td>
                            </tr>
                            <tr>
                                <td>납기일자</td>
                                <td><span data-field="receiveDueDate"></span></td>
                                <td>품목명</td>
                                <td><span data-field="itemName"></span></td>
                            </tr>
                            <tr>
                                <td>발주수량</td>
                                <td><span data-field="orderQuantity"></span></td>
                                <td>품목코드</td>
                                <td><span data-field="itemCode"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </table>
                </div>
                <div class="modal-body">
                    <table class="modal-table-3">
                        <thead>
                        <tr>
                            <th colspan="5">검수 계획</th>
                        </tr>
                        </thead>
                        <thead>
                        <tr>
                            <th>차수</th>
                            <th>검수일자</th>
                            <th>완료수량</th>
                            <th>검수결과</th>
                            <th>보완사항</th>
<!--                            <th>작업</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1차</td>
                            <td><input type="date" class="inspection-date"></td>
                            <td><input type="number" class="completedQuantity" placeholder="수량 입력"></td>
                            <td><input type="text" class="progCheckResult"></td>
                            <td><input type="text" class="supplementation"></td>
<!--                            <td>
                                <button class="btn add-btn">추가</button>
                                <button class="btn delete-btn">삭제</button>
                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn save-btn">저장</button>
                    <button class="btn close-btn">닫기</button>
                </div>
            </div>
        </div>

    </div>
</div>
    <script src="/js/progress_check_item.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
