<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<h2>계약 등록 - 계약서</h2>
<form id="contract-form" action="/contract/register" method="POST" enctype="multipart/form-data">
    <table>
<!--        <input type="hidden" name="coOpCompany" value="companyValueId">-->
<!--        <input type="hidden" name="item" value="itemValue">-->
        <tr>
            <th>계약서/첨부파일</th>
            <td><input type="file" name="contractOriginName"></td>
        </tr>
        <tr>
            <th>사업자 번호</th>
            <td><input type="text" name="coOpCompany" class="input-field"></td>
        </tr>
        <tr>
            <th>업체명</th>
            <td><input type="text" name="companyName" class="input-field" readonly></td>
        </tr>
        <tr>
            <th>계좌 정보</th>
            <td><input type="text" name="companyAccount" class="input-field" readonly></td>
        </tr>
    </table>

    <h2>계약 등록 - 계약 항목</h2>
    <table class="save-section">
        <tr>
            <th>품목코드</th>
            <th>품목명</th>
            <th>단가</th>
            <th>L/T(일)</th>
            <th>세부사항</th>
        </tr>
        <tr>
            <td><input type="text" name="itemCode" class="input-field" readonly></td>
            <td><input type="text" name="itemName" class="input-field" readonly></td>
            <td><input type="text" name="itemPrice"></td>
            <td><input type="text" name="leadTime" ></td>
            <td><input type="text" name="note" ></td>
        </tr>
        <!-- Add more rows as needed -->
    </table>
    <button type="button" id="save-contract-button" class="save-button">저장</button>
</form>


<div class="management-section">
    <h2>계약 관리</h2>
    <div class="search-bar">
        <select name="search-option" id="search-option">
            <option value="계약번호">계약번호</option>
            <option value="품목명">품목명</option>
            <option value="업체명">업체명</option>
        </select>
        <input type="text" placeholder="검색..." class="search-input">
        <button class="search-button">검색</button>
    </div>
    <table id="contractManagementTable">
        <thead>
        <tr>
            <th>품목코드</th>
            <th>품목명</th>
            <th>계약번호</th>
            <th>업체명</th>
            <th>사업자번호</th>
            <th>단가</th>
            <th>L/T(일)</th>
            <th>수정</th>
            <th>계약서</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td class="item-row">
                <span class="itemCode" th:text="${item.itemCode}"></span>
                <span class="itemName" th:text="${item.itemName}" style="display: none;"></span>
            </td>
            <td th:text="${item.itemName}"></td>
            <td>
                <ul>
                    <th:block th:each="contract : ${item.contracts}">
                        <li>
                            <span th:text="${contract.contractNumber}"></span>
                        </li>
                    </th:block>
                </ul>
            </td>
            <td>
                <ul>
                    <th:block th:each="contract : ${item.contracts}">
                        <li>
                            <span th:text="${contract.coOpCompany.companyName}"></span>
                        </li>
                    </th:block>
                </ul>
            </td>
            <td>
                <ul>
                    <th:block th:each="contract : ${item.contracts}">
                        <li>
                            <span th:text="${contract.coOpCompany.businessNumber}"></span>
                        </li>
                    </th:block>
                </ul>
            </td>
            <td>
                <ul>
                    <th:block th:each="contract : ${item.contracts}">
                        <li>
                            <span th:text="${contract.itemPrice}"></span>
                        </li>
                    </th:block>
                </ul>
            </td>
            <td>
                <ul>
                    <th:block th:each="contract : ${item.contracts}">
                        <li>
                            <span th:text="${contract.leadTime}"></span>
                        </li>
                    </th:block>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        // 품목 행을 클릭했을 때 해당 품목의 정보를 계약 관리 테이블에 자동으로 채우기
        $("body").on("click", ".item-row", function () {
            var itemCode = $(this).find(".itemCode").text();
            var itemName = $(this).find(".itemName").text();

            $("input[name='item']").val(itemCode);
            $("input[name='itemCode']").val(itemCode);
            $("input[name='itemName']").val(itemName);

        });

        $("#save-contract-button").click(function () {
            var formData = new FormData($("#contract-form")[0]);
            $.ajax({
                url: "/contract/register",
                method: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response); // 응답 객체를 콘솔에 출력합니다.
                    if (Array.isArray(response)) { // 응답이 배열인지 확인합니다.
                        response.forEach(function(contract) {
                            $("#contractManagementTable tbody").append(
                                "<tr>" +
                                "<td>" + contract.itemCode + "</td>" +
                                "<td>" + contract.itemName + "</td>" +
                                "<td>" + contractNumber + "</td>" +
                                "<td>" + contract.companyName + "</td>" +
                                "<td>" + contract.coOpCompany.businessNumber + "</td>" +
                                "<td>" + contract.itemPrice + "</td>" +
                                "<td>" + contract.leadTime + "</td>" +
                                "<td><button class='edit-button'>수정</button></td>" +
                                "<td><button class='view-contract-button'>계약서</button></td>" +
                                "</tr>"
                            );
                        });
                    } else {
                        console.log('No contracts found');
                    }
                },
                error: function () {
                    alert("계약 등록에 실패하였습니다.");
                }
            });
        });

        // 사업자 번호를 입력했을 때 해당 업체 정보를 자동으로 채우기
        $("input[name='coOpCompany']").on("change", function () {
            var businessNumber = $(this).val();
            console.log("Business Number: " + businessNumber);
            $.ajax({
                url: "/contract/company",
                method: "GET",
                data: {
                    businessNumber: businessNumber,
                },
                success: function (response) {
                    console.log(response); // 서버 응답을 콘솔에 출력하여 확인
                    $("input[name='companyName']").val(response.companyName);
                    $("input[name='companyAccount']").val(response.companyAccount);
                },
                error: function () {
                    alert("업체 정보를 불러올 수 없습니다.");
                }
            });
        });
    });
</script>


</body>
</html>
