<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>계약 관리</title>
    <link rel="stylesheet" href="/css/contract.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" href="/image/favicon-32x32.png">
    <script src="/js/jquery-3.7.1.min.js"></script>
    <style>
        .modal {
            display: none; /* 숨기기 */
            position: fixed; /* 위치 고정 */
            z-index: 1; /* 다른 요소들보다 위에 표시 */
            padding-top: 60px; /* 화면 위로부터의 패딩 */
            left: 0;
            top: 0;
            width: 100%; /* 전체 너비 */
            height: 100%; /* 전체 높이 */
            overflow: auto; /* 스크롤바 추가 */
            background-color: rgb(0, 0, 0); /* 배경 색상 */
            background-color: rgba(0, 0, 0, 0.4); /* 배경 색상 (투명도) */
        }

        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #fff;
            font-size: 40px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<th:block th:replace="~{/fragments/fragment1}"></th:block>
<th:block th:replace="~{/fragments/fragment3 :: subnav(currentPageName='조달 관리 > 계약 등록')}"></th:block>

<div class="container">
    <th:block th:replace="~{/fragments/fragment2}"></th:block>

    <div class="content">
        <div class="registration-section">
            <div class="ten">
                <h2>계약 등록 - 계약서</h2>
            </div>
            <form id="contract-form" action="/contract/register" method="POST" enctype="multipart/form-data">
                <table>
                    <!--        <input type="hidden" name="coOpCompany" value="companyValueId">-->
                    <!--        <input type="hidden" name="item" value="itemValue">-->
                    <tr>
                        <th>계약서/첨부파일</th>
                        <td>
                            <div class="file-upload">
                                <input type="file" id="contractOriginName" name="contractOriginName" accept=".pdf,.jpg,.png" onchange="displayFileName()" required>
                                <label for="contractOriginName" class="button"><i class="fas fa-upload">&nbsp;</i>파일 선택</label>
                                <span id="fileName" class="file-name">선택된 파일이 없습니다.</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>사업자 번호</th>
                        <td>
                            <div class="custom-select">
                                <select id="coOpCompanySelect" name="coOpCompany" class="input-field" required>
                                    <option value="" disabled selected>사업자 번호를 선택하세요</option>
                                    <!-- Thymeleaf를 이용하여 옵션 추가 -->
                                    <option th:each="company : ${coOpCompanies}" th:value="${company.businessNumber}" th:text="${company.businessNumber}"></option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>업체명</th>
                        <td><input type="text" name="companyName" class="input-field" readonly></td>
                    </tr>
                    <tr>
                        <th>계좌 정보</th>
                        <td><input type="text" name="companyAccount" class="input-field" readonly></td>
                    </tr>
                </table>
                <br>
                <div class="ten">
                    <h2>계약 등록 - 계약 항목</h2>
                </div>
                <table class="save-section">
                    <tr>
                        <th>품목코드</th>
                        <th>품목명</th>
                        <th>단가</th>
                        <th>L/T(일)</th>
                        <th>세부사항</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="itemCode" class="input-field" readonly></td>
                        <td><input type="text" name="itemName" class="input-field" readonly></td>
                        <td><input type="text" name="itemPrice"></td>
                        <td><input type="text" name="leadTime" ></td>
                        <td><input type="text" name="note" ></td>
                    </tr>
                </table>
                <button type="button" id="save-contract-button" class="save-button">저장</button>
            </form>
        </div>

        <div class="management-section">
            <div class="ten">
                <h2>계약 관리</h2>
            </div>

            <div class="search-bar">
                <select name="search-option" id="search-option">
                    <option value="contractNumber">계약번호</option>
                    <option value="itemName">품목명</option>
                    <option value="companyName">업체명</option>
                </select>
                <input type="text" id="search-input" placeholder="검색..." class="search-input">
                <button id="search-button" class="search-button">검색</button>
            </div>

            <div>
                <table id="contractManagementTable">
                    <thead>
                    <tr>
                        <th>품목코드</th>
                        <th>품목명</th>
                        <th>계약번호</th>
                        <th>업체명</th>
                        <th>사업자번호</th>
                        <th>단가</th>
                        <th>L/T(일)</th>
                        <th>계약서</th>
                    </tr>
                    </thead>
                    <tbody id="td-color">
                    <tr th:each="item : ${result.dtoList}">
                        <td class="item-row">
                            <span class="itemCode" th:text="${item.itemCode}"></span>
                            <span class="itemName" th:text="${item.itemName}" style="display: none;"></span>
                        </td>
                        <td th:text="${item.itemName}"></td>
                        <td>
                            <ul th:if="${not #lists.isEmpty(item.contracts)}">
                                <li th:each="contract : ${item.contracts}">
                                    <span th:text="${contract.contractNumber}"></span>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul th:if="${not #lists.isEmpty(item.contracts)}">
                                <li th:each="contract : ${item.contracts}">
                                    <span th:text="${contract.companyName}"></span>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul th:if="${not #lists.isEmpty(item.contracts)}">
                                <li th:each="contract : ${item.contracts}">
                                    <span th:text="${contract.businessNumber}"></span>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul th:if="${not #lists.isEmpty(item.contracts)}">
                                <li th:each="contract : ${item.contracts}">
                                    <span th:text="${contract.itemPrice}"></span>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul th:if="${not #lists.isEmpty(item.contracts)}">
                                <li th:each="contract : ${item.contracts}">
                                    <span th:text="${contract.leadTime}"></span>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul th:if="${not #lists.isEmpty(item.contracts)}">
                                <li th:each="contract : ${item.contracts}">
                                    <span>
                                        <a th:if="${contract.contractOriginName.endsWith('.pdf')}"
                                           href="#"
                                           th:data-contract-save-name="${contract.contractSaveName}"
                                           th:text="${contract.contractOriginName}"
                                           onclick="downloadFile(this); return false;">
                                        </a>
                                    </span>
                                    <span>
                                         <a th:unless="${contract.contractOriginName.endsWith('.pdf')}"
                                            href="javascript:void(0);"
                                            th:data-contract-save-name="${contract.contractSaveName}"
                                            th:text="${contract.contractOriginName}"
                                            class="contract-link">
                                         </a>
                                    </span>
                                </li>
                            </ul>
                        </td>
                    </tr>

<!--                    <tr th:each="contract : ${result.dtoList}">-->
<!--                        <td class="item-row">-->
<!--                            <span class="itemCode" th:text="${contract.itemCode}"></span>-->
<!--                            <span class="itemName" th:text="${contract.itemName}" style="display: none;"></span>-->
<!--                        </td>-->
<!--                        <td th:text="${contract.itemName}"></td>-->
<!--                        <td th:text="${contract.contractNumber}"></td>-->
<!--                        <td th:text="${contract.companyName}"></td>-->
<!--                        <td th:text="${contract.businessNumber}"></td>-->
<!--                        <td th:text="${contract.itemPrice}"></td>-->
<!--                        <td th:text="${contract.leadTime}"></td>-->
<!--                        <td>-->
<!--                            <a th:if="${contract.contractOriginName.endsWith('.pdf')}"-->
<!--                               href="#"-->
<!--                               th:data-contract-save-name="${contract.contractSaveName}"-->
<!--                               th:text="${contract.contractOriginName}"-->
<!--                               onclick="downloadFile(this); return false;">-->
<!--                            </a>-->
<!--                            <a th:unless="${contract.contractOriginName.endsWith('.pdf')}"-->
<!--                               href="javascript:void(0);"-->
<!--                               th:data-contract-save-name="${contract.contractSaveName}"-->
<!--                               th:text="${contract.contractOriginName}"-->
<!--                               class="contract-link">-->
<!--                            </a>-->
<!--                        </td>-->
<!--                    </tr>-->
                    </tbody>
                </table>
                <div class="pagination">
                    <ul>
                        <!-- 이전 페이지 링크 -->
                        <li th:if="${result.page > 1}">
                            <a th:href="@{'/contract/register?page=' + ${result.page - 1}}">◀</a>
                        </li>
                        <!-- 페이지 번호 링크 -->
                        <li th:each="pageNum : ${#numbers.sequence(1, result.totalPage)}" th:class="${pageNum == result.page} ? 'active' : ''">
                            <a th:href="@{'/contract/register?page=' + ${pageNum}}">[[${pageNum}]]</a>
                        </li>
                        <!-- 다음 페이지 링크 -->
                        <li th:if="${result.page < result.totalPage}">
                            <a th:href="@{'/contract/register?page=' + ${result.page + 1}}">▶</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 모달 구조 추가 -->
<div id="imageModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modalImage">
</div>
<script>
    $(document).ready(function () {
        // 품목 행을 클릭했을 때 해당 품목의 정보를 계약 관리 테이블에 자동으로 채우기
        $("body").on("click", ".item-row", function () {
            var itemCode = $(this).find(".itemCode").text();
            var itemName = $(this).find(".itemName").text();

            // $("input[name='item']").val(itemCode);
            $("input[name='itemCode']").val(itemCode);
            $("input[name='itemName']").val(itemName);

        });

        $("#save-contract-button").click(function () {
            var formData = new FormData($("#contract-form")[0]);
            $.ajax({
                url: "/contract/register",
                method: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response); // 응답 객체를 콘솔에 출력합니다.
                    if (Array.isArray(response)) { // 응답이 배열인지 확인합니다.
                        response.forEach(function(contract) {
                            $("#contractManagementTable tbody").append(
                                "<tr>" +
                                "<td>" + contract.itemCode + "</td>" +
                                "<td>" + contract.itemName + "</td>" +
                                "<td>" + contractNumber + "</td>" +
                                "<td>" + contract.companyName + "</td>" +
                                "<td>" + contract.coOpCompany.businessNumber + "</td>" +
                                "<td>" + contract.itemPrice + "</td>" +
                                "<td>" + contract.leadTime + "</td>" +
                                "<td><button class='edit-button'>수정</button></td>" +
                                "<td><button class='view-contract-button'>계약서</button></td>" +
                                "</tr>"
                            );
                        });
                    } else {
                        console.log('No contracts found');
                    }
                },
                error: function () {
                    alert("계약 등록에 실패하였습니다.");
                }
            });
        });

        // 사업자 번호를 선택했을 때 해당 업체 정보를 자동으로 채우기
        $("#coOpCompanySelect").on("change", function () {
            var businessNumber = $(this).val();
            console.log("Business Number: " + businessNumber);
            $.ajax({
                url: "/contract/company",
                method: "GET",
                data: {
                    businessNumber: businessNumber,
                },
                success: function (response) {
                    console.log(response); // 서버 응답을 콘솔에 출력하여 확인
                    $("input[name='companyName']").val(response.companyName);
                    $("input[name='companyAccount']").val(response.companyAccount);
                },
                error: function () {
                    alert("업체 정보를 불러올 수 없습니다.");
                }
            });
        });

        // // 서버에서 사업자 번호 목록을 가져와서 select에 추가
        // $.ajax({
        //     url: "/api/coOpCompanies",
        //     method: "GET",
        //     success: function (response) {
        //         response.forEach(function (company) {
        //             $("#coOpCompanySelect").append(new Option(company.businessNumber, company.businessNumber));
        //         });
        //     },
        //     error: function () {
        //         alert("사업자 번호를 불러올 수 없습니다.");
        //     }
        // });

        // 확인 버튼 클릭 이벤트 핸들러
        document.getElementById('save-contract-button').addEventListener('click', () => {
            // 0.5초의 지연 추가
            setTimeout(() => {
                // 페이지 리다이렉션
                window.location.href = '/contract/register';
            }, 500); // 0.5초를 밀리초로 표기
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var modal = document.getElementById("imageModal");
        var modalImage = document.getElementById("modalImage");
        var closeBtn = document.getElementsByClassName("close")[0];

        document.querySelectorAll('.contract-link').forEach(function(link) {
            link.addEventListener('click', function() {
                var contractSaveName = this.getAttribute("data-contract-save-name");
                var imageUrl = "/contract/file/" + contractSaveName;

                // 이미지 URL 설정
                modalImage.src = imageUrl;
                // 모달 표시
                modal.style.display = "block";
            });
        });

        // 닫기 버튼 클릭 시 모달 닫기
        closeBtn.addEventListener('click', function() {
            modal.style.display = "none";
        });

        // 모달 바깥 클릭 시 모달 닫기
        window.addEventListener('click', function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        });
    });
</script>
<script>
    async function downloadFile(link) {
        var contractSaveName = link.getAttribute('data-contract-save-name');
        var fileUrl = '/file/' + contractSaveName;

        try {
            const response = await fetch(fileUrl);
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            const blob = await response.blob();
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;

            // 파일 이름 설정
            a.download = contractSaveName;

            document.body.appendChild(a);
            a.click();

            window.URL.revokeObjectURL(url);
            document.body.removeChild(a);
        } catch (error) {
            console.error('There has been a problem with your fetch operation:', error);
        }
    }
</script>
<script>
    function displayFileName() {
        const input = document.getElementById('contractOriginName');
        const fileNameDiv = document.getElementById('fileName');
        if (input.files.length > 0) {
            fileNameDiv.textContent = input.files[0].name;
        } else {
            fileNameDiv.textContent = '선택된 파일이 없습니다.';
        }
    }
</script>
<script>
    $(document).ready(function () {
        // 사업자 번호를 선택했을 때 해당 업체 정보를 자동으로 채우기
        $("#coOpCompanySelect").on("change", function () {
            var businessNumber = $(this).val();
            console.log("Business Number: " + businessNumber);
            $.ajax({
                url: "/contract/company",
                method: "GET",
                data: {
                    businessNumber: businessNumber,
                },
                success: function (response) {
                    console.log(response); // 서버 응답을 콘솔에 출력하여 확인
                    $("input[name='companyName']").val(response.companyName);
                    $("input[name='companyAccount']").val(response.companyAccount);
                },
                error: function () {
                    alert("업체 정보를 불러올 수 없습니다.");
                }
            });
        });


    });
</script>
<script src="contract.js"></script>
<script src="index.js"></script>
</body>
</html>