<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조달계획등록</title>
    <link rel="stylesheet" href="/css/procurement.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" href="/image/favicon-32x32.png">
    <script src="/js/jquery-3.7.1.min.js"></script>
    <!-- jQuery 라이브러리 로드 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- jQuery UI 라이브러리 로드 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- jQuery UI 기본 CSS 로드 -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<th:block th:replace="~{/fragments/fragment1}"></th:block>
<th:block th:replace="~{/fragments/fragment3 :: subnav(currentPageName='조달 관리 > 조달 계획 등록')}"></th:block>

  <div class="container">
      <th:block th:replace="~{/fragments/fragment2}"></th:block>

    <div class="content">
        <div class="registration-section">
            <div class="ten">
          <h2>조달계획등록</h2>
            </div>
            <form action="/procurement/submit_procurement_plan" method="POST">
            <table class="reg-sec">
              <tr>
                  <th>생산시작일</th>
                  <th>생산종료일</th>
                  <th>생산제품코드</th>
                  <th>생산제품명</th>
                  <th>생산수량</th>
                  <th>품목코드</th>
                  <th>품목명</th>
                  <th hidden>사업자</th>
                </tr>
                <tr>
                    <td><input type="text" class="input-field" id="reg-prodStartDate" disabled></td>
                    <td><input type="text" class="input-field" id="reg-prodEndDate" disabled></td>
                    <td><input type="text" class="input-field" id="reg-productCode" name="productCode" readonly></td>
                    <td><input type="text" class="input-field" id="reg-productName" disabled></td>
                    <td><input type="text" class="input-field" id="reg-prodQuantity" disabled></td>
                    <td><input type="text" class="input-field" id="reg-itemCode" name="itemCode" readonly></td>
                    <td><input type="text" class="input-field" id="reg-itemName" disabled></td>
                    <td hidden><input type="text" class="input-field" id="reg-businessNumber" name="businessNumber"></td>
                </tr>

          </table>
          <table class="save-section">
              <tr>
                  <th>조달수량</th>
                  <th>조달납기일</th>

              </tr>
              <tr>
                  <td><input type="text" class="input-field" id="reg-procureQuantity" name="procQuantity"></td>
                  <td><input type="text" class="input-field" id="reg-procureTerm" name="procDuedate" ></td>
              </tr>
              <!-- Add more rows as needed -->
            </table>
            <button type="submit" class="save-button">조달계획 등록</button>
        </form>
      </div>

      <div class="management-section">
          <div class="ten">
             <h2>생산계획조회</h2>
          </div>
          <div class="search-bar-container">
              <div class="search-bar">
                  <select name="search-option" id="keyword-search-type" class="search-select">
                      <option value="itemCode">품목코드</option>
                      <option value="productCode">생산제품코드</option>
                      <option value="itemName">품목명</option>
                      <option value="productName">생산제품명</option>
                  </select>
                  <input type="text" id="keyword-search" class="search-input" placeholder="키워드 검색">
                  <button id="keyword-search-btn" class="search-button" onclick="searchInventory()">검색</button>
              </div>
          </div>
          <table id="productionPlanTable">
              <thead>
                  <tr>
                      <th>생산시작일 <i class="fas fa-sort" data-column="0"></i></th>
                      <th>생산종료일</th>
                      <th>생산제품코드</th>
                      <th>생산제품명</th>
                      <th>생산수량</th>
                      <th>품목코드</th>
                      <th>품목명</th>
                      <th hidden>사업자번호</th>
                      <th>조달계획등록</th>
                  </tr>
              </thead>
              <tbody id="inventory-calculation-list">
              <!-- 반복문을 통해 서버에서 받아온 데이터를 동적으로 표시 -->
              <tr th:each="productionPlan : ${productionPlans}">
                  <td th:text="${productionPlan.prodStartDate}"></td>
                  <td th:text="${productionPlan.prodEndDate}"></td>
                  <td th:text="${productionPlan.product.productCode}"></td>
                  <td th:text="${productionPlan.product.productName}"></td>
                  <td th:text="${productionPlan.prodQuantity}"></td>
                  <td th:text="${productionPlan.item.itemCode}"></td>
                  <td th:text="${productionPlan.item.itemName}"></td>
                  <td hidden th:text="${productionPlan.coOpCompany.businessNumber}"></td>
                  <td>
                      <button class="register-button"
                              th:data-prod-start-date="${productionPlan.prodStartDate}"
                              th:data-prod-end-date="${productionPlan.prodEndDate}"
                              th:data-product-code="${productionPlan.product.productCode}"
                              th:data-product-name="${productionPlan.product.productName}"
                              th:data-prod-quantity="${productionPlan.prodQuantity}"
                              th:data-item-code="${productionPlan.item.itemCode}"
                              th:data-item-name="${productionPlan.item.itemName}"
                              th:data-business-number="${productionPlan.coOpCompany.businessNumber}">
                          등록
                      </button>
                  </td>
              </tr>
              </tbody>
          </table>
          <div th:if="${totalPages > 1}">
              <ul class="pagination">
                  <li th:class="${currentPage == 0} ? 'disabled' : ''">
                      <a th:href="@{'/procurement/procurement?page=' + ${currentPage - 1} + '&size=' + ${pageSize}}" aria-label="Previous">
                          <span aria-hidden="true">◀</span>
                      </a>
                  </li>
                  <li th:each="page : ${#numbers.sequence(0, totalPages - 1)}" th:class="${page == currentPage} ? 'active' : ''">
                      <a th:href="@{'/procurement/procurement?page=' + ${page} + '&size=' + ${pageSize}}" th:text="${page + 1}"></a>
                  </li>
                  <li th:class="${currentPage == totalPages - 1} ? 'disabled' : ''">
                      <a th:href="@{'/procurement/procurement?page=' + ${currentPage + 1} + '&size=' + ${pageSize}}" aria-label="Next">
                          <span aria-hidden="true">▶</span>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
    </div>
  </div>
  <script src="/js/procurement.js"></script>
  <script src="/js/index.js"></script>
  <script>
      $(document).ready(function() {
          const ASCENDING = 'ascending';
          const DESCENDING = 'descending';

          var sortDirection = [];

          function sortTable(columnIndex, direction) {
              var $table = $("#productionPlanTable");
              var rows = $table.find('tbody > tr').get();

              rows.sort(function(rowA, rowB) {
                  var cellA = $(rowA).children('td').eq(columnIndex).text().trim();
                  var cellB = $(rowB).children('td').eq(columnIndex).text().trim();

                  // 날짜 형식인 경우 정렬을 위해 Date 객체로 변환
                  if (columnIndex === 0 || columnIndex === 1) {
                      cellA = new Date(cellA);
                      cellB = new Date(cellB);
                  }

                  if (direction === ASCENDING) {
                      return cellA > cellB ? 1 : -1;
                  } else {
                      return cellA < cellB ? 1 : -1;
                  }
              });

              // 정렬된 행을 다시 테이블에 추가
              $.each(rows, function(index, row) {
                  $table.children('tbody').append(row);
              });
          }

          function updateSortIcon($columnHeader, direction) {
              // 이전에 설정된 아이콘을 제거합니다.
              $columnHeader.closest('thead').find('i').removeClass('fas fa-sort-up fas fa-sort-down');

              // 정렬 방향에 따라 아이콘을 설정합니다.
              if (direction === ASCENDING) {
                  $columnHeader.find('i').addClass('fas fa-sort-up');
              } else {
                  $columnHeader.find('i').addClass('fas fa-sort-down');
              }
          }

          // 테이블 헤더 클릭 이벤트
          $("#productionPlanTable th").on('click', function() {
              var columnIndex = $(this).index();
              var direction = sortDirection[columnIndex] === ASCENDING ? DESCENDING : ASCENDING;

              // 모든 열의 정렬 방향 초기화
              $.each(sortDirection, function(key) {
                  sortDirection[key] = null;
              });

              sortTable(columnIndex, direction);
              updateSortIcon($(this), direction);

              // 다른 열의 아이콘 업데이트
              $("#productionPlanTable th i").removeClass("fa-sort-up fa-sort-down");
              $(this).find('i').addClass(direction === ASCENDING ? "fa-sort-up" : "fa-sort-down");

              sortDirection[columnIndex] = direction;
          });


          // 테이블의 열 순서 변경 기능
          var $table = $("#productionPlanTable");

          // 초기 th에 data-index 추가
          $table.find("thead th").each(function(index) {
              $(this).data("index", index);
          });

          $table.find("thead tr").sortable({
              items: "th",
              cursor: "move",
              placeholder: "sortable-placeholder",
              forcePlaceholderSize: true,
              axis: "x",
              update: function(event, ui) {
                  var $th = ui.item;
                  var newIndex = $th.index();
                  var oldIndex = $th.data("index");

                  // 모든 행의 열 순서를 바꿈
                  $table.find("tbody tr").each(function() {
                      var $row = $(this);
                      if (newIndex > oldIndex) {
                          $row.children().eq(oldIndex).insertAfter($row.children().eq(newIndex - 1));
                      } else {
                          $row.children().eq(oldIndex).insertBefore($row.children().eq(newIndex));
                      }
                  });

                  // 새 인덱스를 데이터에 저장
                  $table.find("thead th").each(function(index) {
                      $(this).data("index", index);
                  });
              }
          }).disableSelection();

          // 등록 버튼 클릭 이벤트 처리
          $('.register-button').on('click', function() {
              var prodStartDate = $(this).data('prod-start-date');
              var prodEndDate = $(this).data('prod-end-date');
              var productCode = $(this).data('product-code');
              var productName = $(this).data('product-name');
              var prodQuantity = $(this).data('prod-quantity');
              var itemCode = $(this).data('item-code');
              var itemName = $(this).data('item-name');
              var businessNumber = $(this).data('business-number');

              // 입력 필드에 데이터 설정
              $('#reg-prodStartDate').val(prodStartDate);
              $('#reg-prodEndDate').val(prodEndDate);
              $('#reg-productCode').val(productCode);
              $('#reg-productName').val(productName);
              $('#reg-prodQuantity').val(prodQuantity);
              $('#reg-itemCode').val(itemCode);
              $('#reg-itemName').val(itemName);
              $('#reg-businessNumber').val(businessNumber);

              // 조달납기일 가져오기
              var procureTerm = new Date($('#reg-procureTerm').val());
              // 생산 시작일 가져오기
              var prodStart = new Date($('#reg-prodStartDate').val());

              // 조달납기일이 생산 시작일 이전인지 확인
              if (procureTerm < prodStart) {
                  alert("조달납기일은 생산 시작일 이후여야 합니다.");
                  // 조달납기일 입력 필드 초기화
                  $('#reg-procureTerm').val('');
              }

              // 달력 설정
              // datepicker를 초기화하고 옵션 설정
              $("#reg-procureTerm, #reg-prodStartDate").datepicker({
                  maxDate: prodStartDate, // 생산계획일 보다 이전의 날짜만 선택 가능
                  dateFormat: 'yy-mm-dd', // 날짜 형식 설정 (예: 2022-06-01)
                  onSelect: function (selectedDate) {
                      var prodStart = new Date($('#reg-prodStartDate').val());
                      var procureTerm = new Date(selectedDate);

                      // 조달납기일이 생산 시작일 이전인지 확인
                      if (procureTerm > prodStart - 1) {
                          alert("조달납기일은 생산 시작일 이전이어야 합니다.");
                          // 조달납기일 입력 필드 초기화
                          $('#reg-procureTerm').val('');
                      }
                  }
              });
          });
      });
  </script>
    <script>
        // 검색 버튼 클릭 시 실행되는 함수
        function searchInventory() {
            // 검색 키워드와 타입 가져오기
            var keyword = document.getElementById("keyword-search").value.toLowerCase();
            var searchType = document.getElementById("keyword-search-type").value;

            // 테이블의 모든 행 가져오기
            var rows = document.querySelectorAll("#inventory-calculation-list tr");

            // 각 행을 순회하며 검색 키워드와 일치하는 항목이 있는지 확인
            rows.forEach(function(row) {
                // 각 행에서 검색 대상이 되는 텍스트 가져오기
                var searchText = row.querySelector("td:nth-child(" + (getColumnIndex(searchType) + 1) + ")").textContent.toLowerCase();

                // 검색 키워드와 일치하는지 확인
                if (searchText.includes(keyword)) {
                    row.style.display = ""; // 일치하는 경우 행 표시
                } else {
                    row.style.display = "none"; // 일치하지 않는 경우 행 숨김
                }
            });
        }

        // 검색 타입에 따라 열의 인덱스를 반환하는 함수
        function getColumnIndex(searchType) {
            switch (searchType) {
                case "itemCode":
                    return 5;
                case "itemName":
                    return 6;
                case "productCode":
                    return 2;
                case "productName":
                    return 3;
                default:
                    return 0;
            }
        }

        // 검색 버튼에 이벤트 리스너 추가
        document.getElementById("keyword-search-btn").addEventListener("click", searchInventory);
    </script>
</body>
</html>